* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --font-size-xs                        : 11.2px;
    --greyscale-text0                     : #ffffff;
    --background-elevation5               : #ffffff;
    --black                               : #000000;
    --greyscale-text0                     : #ffffff;
    --greyscale-text30                    : #828282;
    --greyscale-text5                     : #ececec;
    --primaryblue-300                     : #6186bc;
    --primaryblue-500                     : #134a9b;
    --primaryblue-600                     : #0e3f86;
    --primaryblue-700                     : #0d356e;
    --primaryblue-800                     : #0a2955;
    --secondaryblue-50                    : #e8f8fb;
    --secondaryblue-500                   : #1ab7da;
    --secondaryblue-600                   : #008dac;
    --font-size-l                         : 20px;
    --font-size-m                         : 16px;
    --font-size-s                         : 14px;
    --font-size-xl                        : 24px;
    --font-size-xxl                       : 28px;
    --font-size-xxxl                      : 32px;
    --font-size-xxxxl                     : 48px;
    --font-family-averta-bold             : "Averta-Bold", Helvetica;
    --font-family-proxima_nova-bold       : "Proxima Nova-Bold", Helvetica;
    --font-family-proxima_nova-regular    : "Proxima Nova-Regular", Helvetica;
    --font-family-proxima_nova-semibold   : "Proxima Nova-Semibold", Helvetica;
    --font-family-proxima_nova_vh-bold    : "Proxima Nova vh-Bold", Helvetica;
    --font-family-proxima_nova_vh-regular : "Proxima Nova vh-Regular", Helvetica;
    --font-family-proxima_nova_vh-semibold: "Proxima Nova vh-Semibold", Helvetica;
}

header .menu-lTxfya {
    position        : fixed;
    background-color: var(--background-elevation5);
    box-shadow      : 0px 4px 20px #0021530d;
    height          : 118px;
    overflow        : hidden;
    width           : 100%;
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;


}

header .frame-1000005465-xgRxsF {
    width           : 1400px;
    align-items     : center;
    background-color: transparent;
    display         : flex;
    justify-content : space-between;
    max-width       : 1400px;
    margin          : 0 auto;
}

header .frame-1000005346-xgRxsF {
    align-items     : flex-start;
    background-color: transparent;
    display         : flex;
    justify-content : space-between;
    max-width       : 1400px;
    margin          : 0 auto;
    margin-top      : 5px;


}

header .frame-9174 {
    align-items: center;
    display    : flex;
    gap        : 8px;
    position   : relative;
}

header .frame-9174-VqwDhh {
    background-color: #e7edf580;
    border-radius   : 20px;
    height          : 40px;
    padding         : 0px 24px;
    width           : 562px;
}

header .frame-1000005464-xaxcGs {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 16px;
    justify-content : flex-end;
    position        : relative;
}

header .button-offical-va96Ru {
    align-items     : center;
    background-color: var(--secondaryblue-50);
    border-radius   : 24px;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 8px;
    height          : 40px;
    padding         : 0 24px;
    position        : relative;
}

header .homepage .button-offical-MRhrET {
    align-items     : center;
    background-color: var(--secondaryblue-500);
    border-radius   : 24px;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 8px;
    height          : 40px;
    padding         : 8px 24px;
    position        : relative;
}

header .frame-1000005462-va96Ru {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 12px;
    justify-content : flex-end;
    position        : relative;
}

header .frame-1000005179-tYkvsG {
    background-color: var(--primaryblue-500);
    border-radius   : 20px;
    height          : 36px;
    overflow        : hidden;
    position        : relative;
    width           : 36px;
}

header .component-15-wX3hxc {
    background-color: transparent;
    height          : 24px;
    left            : 6px;
    position        : absolute;
    top             : 6px;
    width           : 24px;
}

header .button-offical-MRhrET {
    align-items     : center;
    background-color: var(--secondaryblue-500);
    border-radius   : 24px;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 8px;
    height          : 40px;
    padding         : 0px 24px;
    position        : relative;
}

header .xem-thm {
    background-color: transparent;
    letter-spacing  : 0header .20px;
    line-height     : 19header .2px;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

header .proximanovavh-normal-white-16px {
    color      : var(--background-elevation5);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}


/* --- */
header .frame-1000005346-xgRxsF {
    align-items     : flex-start;
    background-color: transparent;
    display         : flex;
    justify-content : space-between;
    width           : 1400px;
}

header .trang-ch {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 4px;
    height          : 40px;
    justify-content : center;
    overflow        : hidden;

    position: relative;
}

header .frame-1000005463 {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    flex-direction  : column;
    gap             : 4px;
    justify-content : center;
    position        : relative;
}

header .frame-1000005168 {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 4px;
    justify-content : center;
    position        : relative;
}

header .i-ng-chuyn-gia {
    background-color: transparent;
    letter-spacing  : 0header .00px;
    line-height     : 16header .8px;
    margin-top      : -1px;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
    margin-bottom   : 0px;
}

header .arrow-chevron_-down {
    background-color: transparent;
    height          : 16px;
    position        : relative;
    width           : 16px;
}

header .proximanovavh-normal-tory-blue-14px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : var(--font-size-s);
    font-style : normal;
    font-weight: 400;
}

header .tm-kim-dch-v-jumfUc {
    background-color: transparent;
    outline         : none;
    height          : 100%;
    border          : none;
    width           : 100%;
}

header .proximanovavh-normal-tory-blue-16px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

@media (max-width: 1400px) {
    header .menu-lTxfya {
        height : auto;
        padding: 20px;

    }

    header .frame-1000005465-xgRxsF {
        width: 100%;

    }

    header .frame-1000005346-xgRxsF {
        width          : auto;
        flex-wrap      : wrap;
        justify-content: start;
    }
}

@media (max-width: 768px) {
    header .menu-lTxfya {
        height : auto;
        padding: 20px;

    }

    header .frame-1000005465-xgRxsF {
        width: 100%;

    }

    header .frame-1000005346-xgRxsF {
        width          : auto;
        flex-wrap      : wrap;
        justify-content: start;
    }
}


/* hover css */
header .frame-1000005487-NcootA {
    background-color: var(--background-elevation5);
    border          : 2px solid;
    border-color    : var(--background-elevation5);
    border-radius   : 16px;
    box-shadow      : 2px 6px 30px #124b9a0a, 0px 12px 32px #1bb7da0a;
    height          : 299px;
    overflow        : hidden;
    top             : 129px;
    position        : absolute;
    z-index         : 999;
    width           : 575px;
}

header .rectangle-34625106 {
    background      : linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    background-color: transparent;
    height          : 221px;
    left            : 0px;
    position        : absolute;
    top             : 0px;
}

header .rectangle-34625106-ixWPiO {
    width: 599px;
}

header .frame-1000005181 {
    background-color: transparent;
    border          : 2px solid;
    border-color    : var(--background-elevation5);
    height          : 299px;
    left            : 0px;
    overflow        : hidden;
    position        : absolute;
    top             : 0px;
}

header .frame-1000005181-ixWPiO {
    width: 299px;
}

header .rectangle-34625110 {
    background-color: transparent;
    height          : 299px;
    left            : 0px;
    object-fit      : cover;
    position        : absolute;
    top             : 0px;
}

header .rectangle-34625110-pdmKv0 {
    width: 299px;
}

header .rectangle-34625111 {
    background-color: transparent;
    height          : 299px;
    left            : 0px;
    position        : absolute;
    top             : 0px;
}

header .rectangle-34625111-pdmKv0 {
    object-fit: cover;
    width     : 299px;
}

header .v-chng-ti-pdmKv0 {
    background-color: transparent;
    height          : auto;
    left            : 53px;
    letter-spacing  : -0header .28px;
    line-height     : 33header .6px;
    position        : absolute;
    text-align      : center;
    top             : 240px;
    white-space     : nowrap;
    width           : auto;
}

header .proximanova-bold-white-28px {
    color      : var(--background-elevation5);
    font-family: var(--font-family-proxima_nova-bold);
    font-size  : var(--font-size-l);
    font-style : normal;
    font-weight: 700;
}

header .frame-1000005507 {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex-direction  : column;
    gap             : 12px;
}

header .frame-1000005507-ixWPiO {
    left    : 322px;
    position: absolute;
    top     : 37px;
}

header .frame-1000005339 {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    gap             : 6px;
    position        : absolute;
}

header .frame-1000005339-ixWPiO {
    left: 439px;
    top : 259px;
}

header .gout {
    background-color: transparent;
    position        : relative;
}

header .gout-CpmxGP {
    align-items    : flex-start;
    display        : inline-flex;
    flex           : 0 0 auto;
    flex-direction : column;
    gap            : 4px;
    justify-content: center;
}

header .xem-tt-c {
    background-color: transparent;
    letter-spacing  : 0header .14px;
    line-height     : 16header .8px;
    margin-top      : -1px;
    position        : relative;
    text-align      : left;
    white-space     : nowrap;
    width           : fit-content;
}

header .screen div {
    -webkit-text-size-adjust: none;
}

header .proximanovavh-bold-cerulean-14px {
    color      : var(--secondaryblue-500);
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-s);
    font-style : normal;
    font-weight: 700;
}

header #dropMenu {
    position        : fixed;
    top             : 0;
    width           : 100vw;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.3);

    /* Màu đen với độ trong suốt 20% */
}

header .vechungtoi {
    display: none;
}

header .coxuongkhop {
    display: none;
}

header .tintuc {
    display: none;
}

header .tamsoatsuckhoetoandien {
    display: none;
}

header .phuchoichucnang {
    display: none;
}

header .dalieuthammy {
    display: none;
}

header .noikhoa {
    display: none;
}

.menu-lTxfya article:after {
    position     : absolute;
    content      : '';
    height       : 40px;
    width        : 0%;
    border-bottom: solid 3px #019fb6;
    transition   : left 500ms ease-in-out, opacity 500ms ease-in-out;
    opacity      : 1;
    left         : -100%;
    /* Đẩy phần tử ra khỏi khung nhìn ban đầu */
    /* Áp dụng animation */
}

.menu-lTxfya article.hover::after {
    width: 100%;

    left: 0%;
}

.menu-lTxfya article.hover_::after {
    left : 100%;
    width: 100%;


}


header .frame-1000005486-NcootA {
    width: 804px;
}

header .frame-1000005508 {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    position        : absolute;
    top             : 44px;
}

header .frame-1000005508-Ihw5Fj {
    gap : 60px;
    left: 322px;
}

header .frame-1000005339 {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    gap             : 6px;
    position        : absolute;
}

header .frame-1000005339-Ihw5Fj {
    left: 668px;
    top : 256px;
}

header .phc-hi-chc-nng-KUeIrn {
    background-color: transparent;
    height          : auto;
    left            : 68px;
    letter-spacing  : -0.28px;
    line-height     : 33.6px;
    position        : absolute;
    text-align      : center;
    top             : 205px;
    width           : auto;
}

header .tm-sot-sc-kho-ton-din-YZMxJ7 {
    background-color: transparent;
    height          : auto;
    left            : 13px;
    letter-spacing  : -0.28px;
    line-height     : 33.6px;
    position        : absolute;
    text-align      : center;
    top             : 205px;
    width           : auto;
}

#header_mobile {
    display: none;
}

@media (max-width: 768px) {
    header .menu-lTxfya {
        display: none;
    }

    #header_mobile {
        display: block;
    }
}

#header_mobile {
    width                    : 100vw;
    background-color         : white;
    position                 : fixed;
    top                      : 0;
    left                     : 0;
    /* height                : 100vh; */
    overflow-y               : scroll;
    /* padding-bottom        : 100px; */
}

#header_mobile .first {
    /* height          : 500px; */
    overflow-y      : scroll;
    width           : 100%;
    background-color: #019fb6;
}

#header_mobile .menu-default-6t7Dji {
    background-color: var(--greyscale-text0);
    box-shadow      : 0px 0px 7px #88a5cd40;
    height          : 60px;
    left            : 894px;
    top             : 55px;
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    padding         : 0 20px;
}

#header_mobile #content {
    height    : 100vh;
    overflow-y: scroll;
    display   : none;
}

#header_mobile .component-187 {
    background-color: var(--secondaryblue-50);
    position        : relative;
    width           : 100%;
}

#header_mobile.component-187-dU3u59 {
    align-items   : flex-start;
    display       : flex;
    flex          : 0 0 auto;
    flex-direction: column;
}

#header_mobile .frame-1000005535 {
    align-items: center;
    display    : flex;
}

#header_mobile .frame-1000005535-jAH9wv {
    align-self      : stretch;
    background-color: var(--primaryblue-500);
    height          : 48px;
    justify-content : space-between;
    padding         : 0px 8px 0px 12px;
    position        : relative;
    width           : 100%;
}

#header_mobile .c-xng-khp {
    background-color: transparent;
    letter-spacing  : 0.00px;
    position        : relative;
}

#header_mobile .c-xng-khp-kNuntk {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
    line-height: 19.2px;
    text-align : center;
    white-space: nowrap;
    width      : fit-content;
}

#header_mobile .arrow-chevron_-down {
    background-color: transparent;
    position        : relative;
}

#header_mobile .arrow-chevron_-down-kNuntk {
    height: 24.00000209814607px;
    width : 24.00000209814698px;
}

#header_mobile .frame-1000005535 {
    align-items: center;
    display    : flex;
}

#header_mobile .frame-1000005535-PVPeQG {
    align-self      : stretch;
    background-color: var(--secondaryblue-50);
    flex            : 0 0 auto;
    gap             : 80px;
    justify-content : space-around;
    padding         : 12px 8px 12px 24px;
    position        : relative;
    width           : 100%;
}

#header_mobile .frame-1000005542 {
    align-items     : flex-start;
    background-color: transparent;
    display         : flex;
    flex            : 1;
    flex-grow       : 1;
    position        : relative;
}

#header_mobile .frame-1000005571-KaYmdU {
    width           : 100%;
    margin          : 100px 0;
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    flex-direction  : column;
    gap             : 80px;
    position        : relative;
}

#header_mobile .frame-1000005570-AVoj3w {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    flex-direction  : column;
    gap             : 16px;
    position        : relative;
}

#header_mobile .frame-1000005568-HYymNp {
    align-items     : center;
    background-color: transparent;
    display         : flex;
    flex            : 0 0 auto;
    gap             : 8px;
    position        : relative;
    width           : 210px;
}

#header_mobile .frame-1000005462-ncciHM {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 10.666666030883789px;
    justify-content : flex-end;
    position        : relative;
}

#header_mobile .frame-1000005179-Ud2fre {
    background-color: var(--primaryblue-500);
    border-radius   : 17.78px;
    height          : 32px;
    overflow        : hidden;
    position        : relative;
    width           : 32px;
}

#header_mobile .component-15-yFzonN {
    background-color: transparent;
    height          : 21px;
    left            : 5px;
    position        : absolute;
    top             : 5px;
    width           : 21px;
}

#header_mobile .gii-thiu-ngi-thn-ncciHM {
    background-color: transparent;
    color           : var(--primaryblue-700);
    font-family     : var(--font-family-proxima_nova-regular);
    font-size       : var(--font-size-m);
    font-style      : normal;
    font-weight     : 400;
    letter-spacing  : 0.20px;
    line-height     : 19.2px;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#header_mobile .frame-1000005567-HYymNp {
    align-items     : center;
    background-color: transparent;
    display         : flex;
    flex            : 0 0 auto;
    flex-direction  : column;
    gap             : 16px;
    position        : relative;
    width           : 343px;
}

#header_mobile .button {
    align-items    : center;
    align-self     : stretch;
    border-radius  : 24px;
    display        : flex;
    gap            : 8px;
    height         : 48px;
    justify-content: center;
    padding        : 8px 24px;
    position       : relative;
    width          : 100%;
}

#header_mobile .button-u79G86 {
    background-color: var(--secondaryblue-500);
}

#header_mobile .xem-thm {
    background-color: transparent;
    letter-spacing  : 0.20px;
    line-height     : 19.2px;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#header_mobile .xem-thm-hx93Kk {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

#header_mobile .button {
    align-items    : center;
    align-self     : stretch;
    border-radius  : 24px;
    display        : flex;
    gap            : 8px;
    height         : 48px;
    justify-content: center;
    padding        : 8px 24px;
    position       : relative;
    width          : 100%;
}

#header_mobile .button-zkFpds {
    background-color: var(--secondaryblue-50);
}

#header_mobile .xem-thm {
    background-color: transparent;
    letter-spacing  : 0.20px;
    line-height     : 19.2px;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

.proximanovavh-normal-tory-blue-16px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

#header_mobile .frame-1000005361-HYymNp {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 16px;
    position        : relative;
}

#header_mobile .frame-1000005358-9xKH2l {
    background-color: transparent;
    height          : 32px;
    position        : relative;
    width           : 32px;
}

#header_mobile .component-186-9xKH2l {
    background-color: var(--greyscale-text0);
    height          : 32px;
    position        : relative;
    width           : 32px;
}

#header_mobile .ellipse-2020-qijQzj {
    background-color: var(--primaryblue-500);
    border-radius   : 16px;
    height          : 32px;
    left            : 0px;
    position        : absolute;
    top             : 0px;
    width           : 32px;
}

#header_mobile .frame-1000005551 {
    display: none;

}

#header_mobile .zalo-qijQzj {
    background-color: transparent;
    color           : var(--greyscale-text0);
    font-family     : var(--font-family-averta-bold);
    font-size       : var(--font-size-xs);
    font-style      : normal;
    font-weight     : 700;
    height          : auto;
    left            : 5px;
    letter-spacing  : -0.56px;
    line-height     : 15.6px;
    position        : absolute;
    text-align      : left;
    top             : 7px;
    white-space     : nowrap;
    width           : auto;
}