* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --background-elevation5               : #ffffff;
    --black                               : #000000;
    --greyscale-text0                     : #ffffff;
    --primaryblue-100                     : #b6c7e0;
    --primaryblue-300                     : #6186bc;
    --primaryblue-500                     : #134a9b;
    --secondaryblue-400                   : #45dcff;
    --secondaryblue-500                   : #1ab7da;
    --font-size-l                         : 20px;
    --font-size-m                         : 16px;
    --font-size-s                         : 14px;
    --font-size-xl                        : 24px;
    --font-size-xs                        : 10px;
    --font-size-xxl                       : 32px;
    --font-size-xxxl                      : 54px;
    --font-family-proxima_nova-bold       : "Proxima Nova-Bold", Helvetica;
    --font-family-proxima_nova-semibold   : "Proxima Nova-Semibold", Helvetica;
    --font-family-proxima_nova_vh-bold    : "Proxima Nova vh-Bold", Helvetica;
    --font-family-proxima_nova_vh-regular : "Proxima Nova vh-Regular", Helvetica;
    --font-family-proxima_nova_vh-semibold: "Proxima Nova vh-Semibold", Helvetica;
}

#quytrinhkhamchua .quy-trnh-thm-khm-3d0Li3 {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex-direction  : column;
    gap             : 36px;
    position        : relative;
}

#quytrinhkhamchua {
    width          : 100%;
    justify-content: center;
    display        : flex;
}

#quytrinhkhamchua .container {
    max-width: 1400px;
    width    : 100%;
}

#quytrinhkhamchua .container_table {
    max-width: 1050px;
    display  : none;

    width: 100%;
}

#quytrinhkhamchua .frame-1000006975-19dZ9x {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 60.000003814697266px;
    justify-content : center;
    position        : relative;
}

#quytrinhkhamchua .frame-1000006967 {
    align-items     : flex-start;
    background-color: transparent;
    display         : flex;
    flex-direction  : column;
    gap             : 24.000001907348633px;
}

#quytrinhkhamchua .frame-1000006967-XZaxKd {
    height  : 227.00001525878906px;
    position: relative;
    width   : 305px;
}

#quytrinhkhamchua .quy-trnh-khm-cha-bnh-ti-msc-clinic {
    background-color: transparent;
    color           : var(--primaryblue-500);
    font-family     : var(--font-family-proxima_nova-bold);
    font-style      : normal;
    font-weight     : 700;
    letter-spacing  : 0.00px;
    margin-top      : -1.00px;
    position        : relative;
    text-shadow     : 0px -13.40185546875px 18.762598037719727px #ffffff40;
    width           : fit-content;
}

#quytrinhkhamchua .quy-trnh-khm-cha-bnh-ti-msc-clinic-p4oYcQ {
    font-size  : var(--font-size-xxl);
    line-height: 44.8px;
    text-align : left;
}

#quytrinhkhamchua .frame-1000006968 {
    background-color: transparent;
    position        : relative;
}

#quytrinhkhamchua .frame-1000006968-XZaxKd {
    height: 400px;
    width : 305px;
}

#quytrinhkhamchua .ellipse-2131 {
    background      : linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .ellipse-2131-z39VOU {
    border-radius: 122.31px;
    height       : 245px;
    left         : 32px;
    top          : 33px;
    width        : 245px;
}

#quytrinhkhamchua .mask-group {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .mask-group-z39VOU {
    border-radius: 500px;
    height       : 245px;
    left         : 33px;
    overflow     : hidden;
    top          : 33px;
    width        : 245px;
}

#quytrinhkhamchua .component-221 {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .component-221-2qFRK8 {
    height: 245px;
    left  : 0px;
    top   : 0px;
    width : 245px;
}

#quytrinhkhamchua .ellipse-2132 {
    background      : linear-gradient(180deg, rgba(59.96484450995922, 197.72628128528595, 228.4374949336052, 0.5) 0%, rgba(55.25000050663948, 218.58725309371948, 255, 0) 100%);
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .ellipse-2132-jbHgom {
    border-radius: 122.31px;
    height       : 245px;
    left         : 0px;
    top          : 0px;
    width        : 245px;
}

#quytrinhkhamchua .mask-group {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .mask-group-jbHgom {
    height: 245px;
    left  : 0px;
    top   : 0px;
    width : 245px;
}

#quytrinhkhamchua .bi-xe {
    background-color: transparent;
    height          : auto;
    letter-spacing  : 0.00px;
    position        : absolute;
    text-align      : center;
    white-space     : nowrap;
    width           : auto;
}

#quytrinhkhamchua .bi-xe-jbHgom {
    left       : 89px;
    line-height: 24px;
    top        : 198px;
}

.proximanova-normal-tory-blue-16px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova-semibold);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

#quytrinhkhamchua .image {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .image-2qFRK8 {
    height: 265px;
    left  : -80px;
    top   : -9px;
    width : 470px;
}

#quytrinhkhamchua .image-xJA7CJ {
    height: 265px;
    left  : -4105px;
    top   : 1833px;
    width : 470px;
}

#quytrinhkhamchua .khch-hng-ti-phng-khm {
    background-color: transparent;
    height          : auto;
    position        : absolute;
    text-align      : center;
    width           : auto;
}

#quytrinhkhamchua .khch-hng-ti-phng-khm-z39VOU {
    left          : 82px;
    letter-spacing: -0.20px;
    line-height   : 24.0px;
    top           : 337px;
}

.proximanova-bold-tory-blue-20px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova-bold);
    font-size  : var(--font-size-l);
    font-style : normal;
    font-weight: 700;
}

#quytrinhkhamchua .frame-1000006970 {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    justify-content : center;
    position        : absolute;
}

#quytrinhkhamchua .frame-1000006970-z39VOU {
    gap : 3.000000238418579px;
    left: 96px;
    top : 269px;
}

#quytrinhkhamchua .x01 {
    background-color: transparent;
    letter-spacing  : 0.00px;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#quytrinhkhamchua .x01-x205v4 {
    line-height: 81.0px;
    margin-top : -1.00px;
}

.proximanova-bold-cerulean-54px {
    color      : var(--secondaryblue-500);
    font-family: var(--font-family-proxima_nova-bold);
    font-size  : var(--font-size-xxxl);
    font-style : normal;
    font-weight: 700;
}

#quytrinhkhamchua .vector-125 {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .vector-125-z39VOU {
    height: 3px;
    left  : 222px;
    top   : 307px;
    width : 234px;
}

#quytrinhkhamchua .frame-1000006976-19dZ9x {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 60.000003814697266px;
    justify-content : center;
    position        : relative;
}

#quytrinhkhamchua .frame-1000006974 {
    background-color: transparent;
    position        : relative;
}

#quytrinhkhamchua .frame-1000006974-FII3xx {
    height: 400px;
    width : 305px;
}

#quytrinhkhamchua .ellipse-2131 {
    background      : linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .ellipse-2131-TKrZQM {
    border-radius: 122.31px;
    height       : 245px;
    left         : 32px;
    top          : 33px;
    width        : 245px;
}

#quytrinhkhamchua .mask-group {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .mask-group-TKrZQM {
    border-radius: 500px;
    height       : 245px;
    left         : 33px;
    overflow     : hidden;
    top          : 33px;
    width        : 245px;
}

#quytrinhkhamchua .component-221 {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .component-221-sk3BN8 {
    height: 245px;
    left  : 0px;
    top   : 0px;
    width : 245px;
}

#quytrinhkhamchua .ellipse-2132 {
    background      : linear-gradient(180deg, rgba(59.96484450995922, 197.72628128528595, 228.4374949336052, 0.5) 0%, rgba(55.25000050663948, 218.58725309371948, 255, 0) 100%);
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .ellipse-2132-8x2a4x {
    border-radius: 122.31px;
    height       : 245px;
    left         : 0px;
    top          : 0px;
    width        : 245px;
}

#quytrinhkhamchua .mask-group {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .mask-group-8x2a4x {
    height: 245px;
    left  : 0px;
    top   : 0px;
    width : 245px;
}

#quytrinhkhamchua .phng-khm-ni-phng-khm-cxk-phng-da-liu {
    background-color: transparent;
    height          : auto;
    letter-spacing  : 0.00px;
    position        : absolute;
    text-align      : center;
    width           : auto;
}

#quytrinhkhamchua .phng-khm-ni-phng-khm-cxk-phng-da-liu-8x2a4x {
    left       : 59px;
    line-height: 24px;
    top        : 161px;
}

.proximanova-normal-tory-blue-16px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova-semibold);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

#quytrinhkhamchua .image {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .image-sk3BN8 {
    height: 265px;
    left  : -80px;
    top   : -9px;
    width : 470px;
}

#quytrinhkhamchua .image {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .image-gqrc4K {
    height: 265px;
    left  : -3740px;
    top   : 1397px;
    width : 470px;
}

#quytrinhkhamchua .khch-hng-ch-v-nhn-kt-qu-khm {
    background-color: transparent;
    height          : auto;
    position        : absolute;
    text-align      : center;
}

#quytrinhkhamchua .khch-hng-ch-v-nhn-kt-qu-khm-TKrZQM {
    left          : 50px;
    letter-spacing: -0.20px;
    line-height   : 24.0px;
    top           : 337px;
    width         : 204px;
}

.proximanova-bold-tory-blue-20px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova-bold);
    font-size  : var(--font-size-l);
    font-style : normal;
    font-weight: 700;
}

#quytrinhkhamchua .frame-1000006977-19dZ9x {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 60.000003814697266px;
    justify-content : center;
    position        : relative;
}

#quytrinhkhamchua .vector-126 {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .vector-126-FII3xx {
    height: 440px;
    left  : 1304px;
    top   : -129px;
    width : 97px;
}

#quytrinhkhamchua .vector-126 {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .vector-126-19dZ9x {
    height: 440px;
    left  : 3px;
    top   : 742px;
    width : 97px;
}

#quytrinhkhamchua .container_table .frame-1000006967 {
    padding         : 50px;
    align-items     : flex-start;
    background-color: transparent;
    display         : flex;
    flex-direction  : column;
    gap             : 24.000001907348633px;
    text-align      : center;
    width           : 100%;
    font-size       : 3vw;
}

#quytrinhkhamchua .container_table .quy-trnh-khm-cha-bnh-ti-msc-clinic {
    background-color: transparent;
    color           : var(--primaryblue-500);
    font-family     : var(--font-family-proxima_nova-bold);
    font-style      : normal;
    font-weight     : 700;
    letter-spacing  : 0.00px;
    width           : 100%;
    margin-top      : -1.00px;
    position        : relative;
    text-shadow     : 0px -13.40185546875px 18.762598037719727px #ffffff40;
}

#quytrinhkhamchua .container_table .quy-trnh-thm-khm-3d0Li3 {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex-direction  : column;
    gap             : 36px;
    position        : relative;
}

#quytrinhkhamchua .container_table .frame-1000006975-xKo5BD {
    align-items     : center;
    background-color: transparent;
    display         : flex;
    gap             : 35px;
    justify-content : center;
    flex-direction  : column;
}

#quytrinhkhamchua .container_table .frame-1000006968 {
    background-color: transparent;
    position        : relative;
}

#quytrinhkhamchua .container_table .frame-1000006968-10TXMr {
    height: 400px;
    width : 305px;
}

#quytrinhkhamchua .container_table .ellipse-2131 {
    background      : linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_table .ellipse-2131-pgxAiE {
    border-radius: 122.31px;
    height       : 245px;
    left         : 32px;
    top          : 33px;
    width        : 245px;
}

#quytrinhkhamchua .container_table .mask-group {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_table .mask-group-pgxAiE {
    border-radius: 500px;
    height       : 245px;
    left         : 33px;
    overflow     : hidden;
    top          : 33px;
    width        : 245px;
}

#quytrinhkhamchua .container_table .component-221 {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_table .component-221-m3gsY6 {
    height: 245px;
    left  : 0px;
    top   : 0px;
    width : 245px;
}

#quytrinhkhamchua .container_table .ellipse-2132 {
    background      : linear-gradient(180deg, rgba(59.96484450995922, 197.72628128528595, 228.4374949336052, 0.5) 0%, rgba(55.25000050663948, 218.58725309371948, 255, 0) 100%);
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_table .ellipse-2132-lezkeF {
    border-radius: 122.31px;
    height       : 245px;
    left         : 0px;
    top          : 0px;
    width        : 245px;
}

#quytrinhkhamchua .container_table .mask-group {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_table .mask-group-lezkeF {
    height: 245px;
    left  : 0px;
    top   : 0px;
    width : 245px;
}

#quytrinhkhamchua .container_table .bi-xe {
    background-color: transparent;
    height          : auto;
    letter-spacing  : 0.00px;
    position        : absolute;
    text-align      : center;
    white-space     : nowrap;
    width           : auto;
}

#quytrinhkhamchua .container_table .bi-xe-lezkeF {
    left       : 89px;
    line-height: 24px;
    top        : 198px;
}

#quytrinhkhamchua .container_table .image {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_table .image-m3gsY6 {
    height: 265px;
    left  : -80px;
    top   : -9px;
    width : 470px;
}

#quytrinhkhamchua .container_table .khch-hng-ti-phng-khm {
    background-color: transparent;
    height          : auto;
    position        : absolute;
    text-align      : center;
    width           : auto;
}

#quytrinhkhamchua .container_table .khch-hng-ti-phng-khm-pgxAiE {
    left          : 82px;
    letter-spacing: -0.20px;
    line-height   : 24.0px;
    top           : 337px;
}

#quytrinhkhamchua .container_table .frame-1000006970 {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    justify-content : center;
    position        : absolute;
}

#quytrinhkhamchua .container_table .frame-1000006970-pgxAiE {
    gap : 3.000000238418579px;
    left: 96px;
    top : 269px;
}

#quytrinhkhamchua .container_table .x01 {
    background-color: transparent;
    letter-spacing  : 0.00px;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#quytrinhkhamchua .container_table .x01-sPnC5e {
    line-height: 81.0px;
    margin-top : -1.00px;
}

#quytrinhkhamchua .container_table .vector-sPnC5e {
    background-color: transparent;
    height          : 24.8690185546875px;
    position        : relative;
    width           : 26.078125px;
}

#quytrinhkhamchua .container_table .vector-ssYmxD {
    background-color: transparent;
    height          : 24.8690185546875px;
    position        : relative;
    width           : 26.078125px;
}

#quytrinhkhamchua .container_table .x01 {
    background-color: transparent;
    letter-spacing  : 0.00px;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#quytrinhkhamchua .container_table .x01-sPnC5e {
    line-height: 81.0px;
    margin-top : -1.00px;
}

#quytrinhkhamchua .container_table .vector-126 {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_table .vector-126-xKo5BD {
    height: 440px;
    left  : 954px;
    top   : 307px;
    width : 69px;
}

#quytrinhkhamchua .container_table .vector-126-k8zhm9 {
    height: 440px;
    left  : 18px;
    top   : 742px;
    width : 80px;
}

#quytrinhkhamchua .container_table .vector-126-7Vk7kD {
    height: 440px;
    left  : 954px;
    top   : 1180px;
    width : 82px;
}

#quytrinhkhamchua .container_mobile {
    display: none;
}

#quytrinhkhamchua .container_mobile .frame-1000007286-lHfuXK {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex-direction  : column;
    gap             : 14px;
    position        : relative;
}

#quytrinhkhamchua .container_mobile .frame-1000007281-EBgIny {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    gap             : 12px;
}

#quytrinhkhamchua .container_mobile .frame-1000006968 {
    background-color: transparent;
    position        : relative;
}

#quytrinhkhamchua .container_mobile .frame-1000006968-p6ZHsR {
    height: 223.88067626953125px;
    width : 170.70901489257812px;
}

#quytrinhkhamchua .container_mobile .ellipse-2131 {
    background      : linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_mobile .mask-group {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_mobile .mask-group-cZijIc {
    border-radius: 279.85px;
    height       : 137px;
    left         : 18px;
    overflow     : hidden;
    top          : 19px;
    width        : 137px;
}

#quytrinhkhamchua .container_mobile .component-221 {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_mobile .component-221-FkJa90 {
    height: 137px;
    left  : 0px;
    top   : 0px;
    width : 137px;
}

#quytrinhkhamchua .container_mobile .ellipse-2132 {
    background      : linear-gradient(180deg, rgba(59.96484450995922, 197.72628128528595, 228.4374949336052, 0.5) 0%, rgba(55.25000050663948, 218.58725309371948, 255, 0) 100%);
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_mobile .ellipse-2132-BhxBYH {
    border-radius: 68.46px;
    height       : 137px;
    left         : 0px;
    top          : 0px;
    width        : 137px;
}

#quytrinhkhamchua .container_mobile .mask-group {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_mobile .mask-group-BhxBYH {
    height: 137px;
    left  : 0px;
    top   : 0px;
    width : 137px;
}

#quytrinhkhamchua .container_mobile .khch-hng-ti-phng-khm {
    background-color: transparent;
    height          : auto;
    position        : absolute;
    text-align      : center;
    width           : auto;
}

#quytrinhkhamchua .container_mobile .khch-hng-ti-phng-khm-cZijIc {
    left          : 35px;
    letter-spacing: 0.00px;
    line-height   : 16.8px;
    top           : 188px;
}

#quytrinhkhamchua .container_mobile .ellipse-2131-cZijIc {
    border-radius: 68.46px;
    height       : 137px;
    left         : 18px;
    top          : 19px;
    width        : 137px;
}

#quytrinhkhamchua .container_mobile .frame-1000006970 {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    justify-content : center;
    position        : absolute;
}

#quytrinhkhamchua .container_mobile .frame-1000006970-cZijIc {
    gap : 1.6791051626205444px;
    left: 54px;
    top : 151px;
}

#quytrinhkhamchua .container_mobile .x01 {
    background-color: transparent;
    letter-spacing  : 0.00px;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#quytrinhkhamchua .container_mobile .x01-8qAI4m {
    line-height: 45px;
    margin-top : -0.56px;
}

.proximanova-bold-cerulean-30px {
    color      : var(--secondaryblue-500);
    font-family: var(--font-family-proxima_nova-bold);
    font-size  : 30px;
    font-style : normal;
    font-weight: 700;
}

.proximanova-bold-tory-blue-14px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova-bold);
    font-size  : var(--font-size-s);
    font-style : normal;
    font-weight: 700;
}

#quytrinhkhamchua .container_mobile .bi-xe {
    background-color: transparent;
    height          : auto;
    letter-spacing  : 0.00px;
    position        : absolute;
    text-align      : center;
    white-space     : nowrap;
    width           : auto;
}

#quytrinhkhamchua .container_mobile .bi-xe-BhxBYH {
    left       : 47px;
    line-height: 15px;
    top        : 109px;
}

.proximanova-normal-tory-blue-10px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova-semibold);
    font-size  : var(--font-size-xs);
    font-style : normal;
    font-weight: 400;
}

#quytrinhkhamchua .container_mobile .vector-125-lHfuXK {
    height    : 3px;
    left      : 114px;
    object-fit: cover;
    top       : 173px;
    width     : 130px;
}

#quytrinhkhamchua .container_mobile .vector-125 {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_mobile .frame-1000007287-Cxuu0X {
    margin-bottom: 100px;
}

#quytrinhkhamchua .container_mobile .frame-1000006967 {
    justify-content: center;
    align-items    : center;
}

#quytrinhkhamchua .container_mobile .quy-trnh-khm-cha-bnh-ti-msc-clinic {
    background-color: transparent;
    color           : var(--primaryblue-500);
    font-family     : var(--font-family-proxima_nova-bold);
    font-style      : normal;
    font-weight     : 700;
    letter-spacing  : 0.00px;
    position        : relative;
    text-shadow     : 0px -13.40185546875px 18.762598037719727px #ffffff40;
    width           : fit-content;
    font-size       : var(--font-size-xl);
    line-height     : 31.2px;
    padding         : 0 20px;
    text-align      : center;
    margin          : 50px 0;
    margin-bottom   : 0;

}

#quytrinhkhamchua .container_mobile .vector-126 {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_mobile .vector-126-lHfuXK {
    height    : 3px;
    left      : 114px;
    object-fit: cover;
    top       : 410px;
    width     : 130px;
}

#quytrinhkhamchua .container_mobile .vector-127 {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_mobile .vector-127-lHfuXK {
    height    : 3px;
    left      : 114px;
    object-fit: cover;
    top       : 646px;
    width     : 130px;
}

#quytrinhkhamchua .container_mobile .vector-128 {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_mobile .vector-128-lHfuXK {
    height    : 3px;
    left      : 114px;
    object-fit: cover;
    top       : 890px;
    width     : 130px;
}

#quytrinhkhamchua .container_mobile .vector-129-lHfuXK {
    background-color: transparent;
    height          : 3px;
    left            : 114px;
    object-fit      : cover;
    position        : absolute;
    top             : 1125px;
    width           : 130px;
}

#quytrinhkhamchua .container_mobile .vector-132-lHfuXK {
    background-color: transparent;
    height          : 245px;
    left            : 4px;
    position        : absolute;
    top             : 886px;
    width           : 54px;
}

#quytrinhkhamchua .container_mobile .vector-126 {
    background-color: transparent;
    position        : absolute;
}

#quytrinhkhamchua .container_mobile .vector-126-27Kjso {
    height: 275px;
    left  : 296px;
    top   : 154px;
    width : 54px;
}

#quytrinhkhamchua .container_mobile .vector-130-lHfuXK {
    background-color: transparent;
    height          : 260px;
    left            : 4px;
    position        : absolute;
    top             : 398px;
    width           : 54px;
}

#quytrinhkhamchua .container_mobile .vector-131-lHfuXK {
    background-color: transparent;
    height          : 255px;
    left            : 296px;
    position        : absolute;
    top             : 642px;
    width           : 54px;
}

@media (max-width: 1400px) {
    #quytrinhkhamchua .container {
        display: none;
    }

    #quytrinhkhamchua .container_table {
        display: block;
    }
}

@media (max-width: 1050px) {
    #quytrinhkhamchua .container {
        display: none;
    }

    #quytrinhkhamchua .container_table {
        display: none;
    }

    #quytrinhkhamchua .container_mobile {
        display: block;
    }
}