* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --black                               : #000000;
    --gray                                : #828282;
    --greyscale-text0                     : #ffffff;
    --greyscale-text70                    : #313131;
    --primaryblue-300                     : #6186bc;
    --primaryblue-400                     : #1e60c1;
    --primaryblue-50                      : #e7edf5;
    --primaryblue-500                     : #134a9b;
    --primaryblue-600                     : #0e3f86;
    --primaryblue-700                     : #0d356e;
    --thunderbird                         : #bd2424;
    --font-size-l                         : 43px;
    --font-size-m                         : 16px;
    --font-size-s                         : 13.9px;
    --font-size-xl                        : 48px;
    --font-size-xs                        : 12.1px;
    --font-size-xxl                       : 64px;
    --font-size-xxs                       : 10.5px;
    --font-family-proxima_nova-bold       : "Proxima Nova-Bold", Helvetica;
    --font-family-proxima_nova-regular    : "Proxima Nova-Regular", Helvetica;
    --font-family-proxima_nova-semibold   : "Proxima Nova-Semibold", Helvetica;
    --font-family-proxima_nova_vh-bold    : "Proxima Nova vh-Bold", Helvetica;
    --font-family-proxima_nova_vh-regular : "Proxima Nova vh-Regular", Helvetica;
    --font-family-proxima_nova_vh-semibold: "Proxima Nova vh-Semibold", Helvetica;
}

#login {
    background-color: var(--primaryblue-600);
    width           : 100%;
    justify-content : center;
    display         : flex;
    position        : relative;
    overflow        : hidden;

}

#login input {
    border  : none;
    overflow: hidden;
    outline : none;
}

#login .container {
    justify-content: space-between;
    width          : 100%;
    display        : flex;
    overflow       : hidden;
    margin-top     : 100px;
    max-width      : 1600px;
}

#login .content__ {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

#login .frame-1000007321-OIXrcG {
    height: 43.1875rem;
    width : 31.8125rem;
}

#login .group-1000004233-AxfcVQ {
    height: 22.625rem;
    width : 32.1875rem;
}

#login .tham-gia {
    background-color: transparent;
    height          : auto;
    text-align      : left;
    white-space     : nowrap;
    width           : auto;
}

#login .tham-gia-q0LBll {
    line-height: 3.6rem;
    position   : relative;
}

.proximanovavh-bold-white-48px {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : 3rem;
    font-style : normal;
    font-weight: 700;
}

#login .i-ng-affiliate {
    background-color: transparent;
    color           : transparent;
    font-style      : normal;
    font-weight     : 700;
    height          : auto;
    text-align      : left;
    white-space     : nowrap;
    width           : auto;
}

#login .i-ng-affiliate-q0LBll {
    margin     : 1.25rem 0;
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : 3.8rem;
    line-height: 4.8rem;
}

#login .span0-99dxKx {
    color     : #1ab7da;
    font-style: normal;
}

#login .ca-chng-ti {
    background-color: transparent;
    height          : auto;
    text-align      : left;
    white-space     : nowrap;
    width           : auto;
}

#login .ca-chng-ti-q0LBll {
    line-height: 3.6rem;
}

.proximanovavh-bold-white-48px {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : 3rem;
    font-style : normal;
    font-weight: 700;
}

#login .group-1000004197-q0LBll {
    height: 8.625rem;
    width : 8.625rem;
}

#login .group-1000004197 {
    background-color: transparent;
}

#login .ellipse-2141-7I1oDE {
    background-color: var(--primaryblue-50);
    border-radius   : 2.875rem;
    height          : 5.75rem;
    left            : 1.4375rem;
    position        : absolute;
    top             : 1.4375rem;
    width           : 5.75rem;
}

#login .ellipse-2142 {
    background-color: var(--primaryblue-50);
    opacity         : 0.3;
    position        : absolute;
}

#login .ellipse-2142-7I1oDE {
    border-radius: 3.4375rem;
    height       : 6.875rem;
    left         : 0.875rem;
    top          : 0.875rem;
    width        : 6.875rem;
}

#login .ellipse-2143 {
    background-color: var(--primaryblue-50);
    opacity         : 0.1;
    left            : 0;
}

#login .ellipse-2143-7I1oDE {
    border-radius: 4.3125rem;
    height       : 8.625rem;
    width        : 8.625rem;
    position     : absolute;
}

#login .star-1-7I1oDE {
    height: 1.75rem;
    left  : 3.8125rem;
    top   : 3.4375rem;
    width : 1.5rem;
}

#login .star-1 {
    background-color: transparent;
    position        : absolute;
}



#login .button-offical-q0LBll {
    margin-right    : 6.25rem;
    background-color: var(--greyscale-text0);
    border-radius   : 1.5rem;
    gap             : 0.5rem;
    left            : 10.625rem;
    padding         : 0.5rem 0.5rem 0.5rem 1.5rem;
    top             : 17.3125rem;
}

#login .xem-thm {
    background-color: transparent;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

.proximanovavh-normal-tory-blue-16px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : 1rem;
    font-style : normal;
    font-weight: 400;
}

#login .frame-1000005541 {
    background-color: transparent;
    position        : relative;
}

#login .gruop_content>div {
    margin-top     : 0.625rem;
    display        : flex;
    position       : relative;
    align-items    : center;
    justify-content: space-between;
}

#login .frame-1000005541-Xf3O6x {
    height: 2rem;
    width : 2rem;
}

#login .xem-video {
    background-color: transparent;
    height          : auto;
    white-space     : nowrap;
    width           : auto;
    display         : block;

}

#login .xem-video-AxfcVQ {
    letter-spacing : 0.0125rem;
    line-height    : 1.2rem;
    text-align     : center;
    justify-content: flex-start;
    width          : 8.625rem;
    text-align     : center;
    text-align     : center;
    display        : block !important;
}

.proximanovavh-normal-white-16px {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : 1rem;
    font-style : normal;
    font-weight: 400;
}

#login .frame-1000007047 {
    background-color: transparent;
    position        : absolute;
    display         : flex;
    justify-content : center;
    flex-direction  : column;
}

#login .frame-1000007047-OIXrcG {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 49.375rem;
    right          : 0;
    bottom         : 0;
    width          : 25rem;
    margin-right   : 16.65625rem;
}

#login .phone {
    position: relative;
}

#login .group-1000004196-zYHUut {
    height         : 5.4375rem;
    width          : 5.5rem;
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

#login .group-1000004196 {
    background-color: transparent;
}

#login .ellipse-2138 {
    background-color: var(--greyscale-text0);
}

#login .ellipse-2138-svynlu {
    border-radius: 2.36125rem;
    height       : 4.75rem;
    width        : 4.75rem;
    position     : absolute;
}

#login .ellipse-2139 {
    background-color: var(--greyscale-text0);
    opacity         : 0.3;
}

#login .ellipse-2139-svynlu {
    border-radius: 2.73875rem/2.71875rem;
    position     : absolute;
    height       : 5.4375rem;
    width        : 5.5rem;
}

#login .group-svynlu {
    height: 2.75rem;
    width : 2.25rem;
}

#login .group {
    background-color: transparent;
    position        : absolute;
}

#login .interface-check {
    background-color: transparent;
    position        : absolute;
}

#login .interface-check-svynlu {
    height: 0.875rem;
    bottom: 0;
    width : 0.875rem;
}

#login .ng-nhp {
    background-color: transparent;
    color           : var(--primaryblue-600);
    font-style      : normal;
    font-weight     : 700;
    height          : auto;
    text-align      : left;
    white-space     : nowrap;
    width           : auto;
}

#login .ng-nhp-zYHUut {
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : 2rem;
    line-height: 2.4rem;
}

#login .form-ng-nhp {
    background-color: transparent;
}

#login .form-ng-nhp-zYHUut {
    border-radius: 0.9375rem;
    box-shadow   : 0.125rem 0.375rem 1.875rem #124b9a0a, 0px 0.75rem 2rem #1bb7da0a;
    height       : 14.875rem;
    width        : 100%;
}

#login .frame-1000005497 {
    align-items     : flex-start;
    background-color: transparent;
    display         : flex;
    justify-content : center;
}

#login .frame-1000005497-cijZyr {
    gap: 0.75rem;
}

#login .frame-1000005383 {
    align-items     : flex-start;
    background-color: transparent;
    display         : flex;
    flex            : 1;
    flex-direction  : column;
    flex-grow       : 1;
    position        : relative;
}

#login .frame-1000005383-IU640i {
    gap: 1.25rem;
}

#login .frame-1000007040 {
    align-items     : flex-start;
    background-color: transparent;
    display         : flex;
    flex-direction  : column;
    position        : relative;
}

#login .frame-1000007040-9Zu6zx {
    align-self: stretch;
    flex      : 0 0 auto;
    gap       : 0.3125rem;
    width     : 100%;
}

#login .s-in-thoi {
    align-self      : stretch;
    background-color: transparent;
    letter-spacing  : 0;
    position        : relative;
    text-align      : left;
}

#login .s-in-thoi-SVJfT9 {
    line-height: 1.5rem;
    margin-top : -0.0625rem;
}

.proximanovavh-normal-mine-shaft-16px {
    color      : var(--greyscale-text70);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : 1rem;
    font-style : normal;
    font-weight: 400;
}

#login .input-field {
    align-items     : flex-start;
    align-self      : stretch;
    background-color: transparent;
    display         : flex;
    flex            : 0 0 auto;
    flex-direction  : column;
    overflow        : hidden;
    position        : relative;
    width           : 100%;
}

#login .input-field-SVJfT9 {
    border       : 0.0625rem solid;
    border-color : var(--primaryblue-300);
    border-radius: 1.5rem;
    gap          : 0.5rem;
}

#login .frame-9137 {
    align-items     : flex-start;
    align-self      : stretch;
    background-color: transparent;
    display         : flex;
    flex-direction  : column;
    position        : relative;
    width           : 100%;
}

#login .frame-9137-bfl1M1 {
    gap   : 0.5rem;
    height: 3rem;
}

#login .frame-16 {
    align-items     : center;
    align-self      : stretch;
    background-color: var(--greyscale-text0);
    display         : flex;
    justify-content : space-between;
    overflow        : hidden;
    position        : relative;
    width           : 100%;
}

#login .frame-16-zRPZ88 {
    border-radius: 0.25rem;
    height       : 3rem;
    padding      : 0.75rem 1.25rem;
}

#login .frame-9174 {
    align-items     : center;
    background-color: transparent;
    display         : flex;
    flex            : 1;
    flex-grow       : 1;
    position        : relative;
}

#login .frame-9174-CzvTPT {
    gap: 0.125rem;
}

#login .qun-mt-khu {
    background-color: transparent;
    color           : var(--greyscale-text0);
    font-family     : var(--font-family-proxima_nova-semibold);
    font-style      : normal;
    font-weight     : 400;
    height          : auto;
    text-align      : center;
    white-space     : nowrap;
    width           : auto;
}

#login .qun-mt-khu-cijZyr {
    display        : flex;
    font-size      : 0.875rem;
    justify-content: flex-start;
    letter-spacing : 0.17px;
    line-height    : 1.04rem;
    margin         : 0.625rem 0;
}

#login .group_button {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    margin-top     : 220px;
}

#login .button-offical {
    align-items: center;
    display    : inline-flex;

}

#login .button-offical-zYHUut {
    background-color: var(--primaryblue-500);
    border-radius   : 1.5rem;
    gap             : 0.5rem;
    padding         : 0.5rem 0.5rem 0.5rem 1.5rem;
}

#login .ng-k-zYHUut {
    align-items: flex-start;
    display    : flex;
    align-items: center;
    gap        : 0.5rem;
}

#login .cha-c-ti-khon {
    background-color: transparent;
    color           : var(--black);
    font-family     : var(--font-family-proxima_nova-regular);
    font-style      : normal;
    font-weight     : 400;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#login .cha-c-ti-khon-SLxDw7 {
    font-size     : 0.875rem;
    letter-spacing: 0.17px;
    line-height   : 1.04rem;
}

#login .ng-k-ngay {
    background-color: transparent;
    color           : var(--primaryblue-700);
    font-family     : var(--font-family-proxima_nova-semibold);
    font-style      : normal;
    font-weight     : 400;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#login .ng-k-ngay-SLxDw7 {
    font-size     : 0.875rem;
    letter-spacing: 0.17px;
    line-height   : 1.04rem;
}

#login .front-view-hand-holding-smartphone-1 {
    height: 50rem;
}

#login .ellipse-2141-OIXrcG {
    background-color: var(--primaryblue-400);
    border-radius   : 48.65625rem;
    filter          : blur(18.20625rem);
    height          : 97.3125rem;
    right           : -71.7rem;
    top             : -60.85rem;
    position        : absolute;
    width           : 97.3125rem;
}

#login .group_title {
    margin-left: 1.875rem;
}

#login .ellipse-2141-OIXrcH {
    background-color: var(--primaryblue-400);
    border-radius   : 48.65625rem;
    filter          : blur(18.20625rem);
    height          : 97.3125rem;
    bottom          : -57.3125rem;
    left            : -76.0625rem;
    position        : absolute;
    width           : 97.3125rem;
}

#login .a {
    display: none;
}

#login .gruop_input {
    margin-top: 20px;
    display   : flex;
    gap       : 10px;

}

#login .gruop_input .frame-1000007040-9Zu6zx {
    width: auto;
}



@media (max-width: 85.625rem) {
    #login .container {
        flex-direction: column;
    }

    #login .phone {
        display        : flex;
        justify-content: center;
    }

    #login .frame-1000007047-OIXrcG {

        margin-right: 0;
    }

    #login .front-view-hand-holding-smartphone-1 {
        display: none;
    }

    #login .frame-1000007047 {
        background-color: #0d356e;
        padding         : 0 6.25rem;
        position        : relative;
        background      : linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
        border          : 0.0625rem solid;
        border-radius   : 3.125rem;
        border-color    : var(--greyscale-text0);
    }

    #login .frame-1000007047-OIXrcG {

        width: auto;
    }

    #login .frame-1000007321-OIXrcG {
        height       : auto;
        margin-bottom: 6.25rem;
        width        : 31.8125rem;
    }

    #login .phone {
        margin-bottom: 6.25rem;
    }

    #login .frame-1000007047 {
        padding: 0 3.125rem;
    }

    #login .content__ {
        width: 100%;
    }

    #login .frame-1000007321-OIXrcG {
        width          : 100%;
        justify-content: center;
        align-items    : center;
        display        : flex;
    }

    #login .frame-1000007047 {
        width: 80%;
    }

    #login .a {
        display : block;
        left    : 0;
        position: absolute;
        top     : 0rem;
    }

    #login .frame-1000007047 {
        width: 90%;
    }

    #login .gruop_input {
        width                : 100%;
        display              : grid;
        grid-template-columns: repeat(2, 1fr);


    }


}

@media (max-width: 555px) {

    #login .frame-1000007047 {
        padding: 0 10px;
    }

    #login .i-ng-affiliate-q0LBll {

        font-size: var(--font-size-xl);

    }

    #login .gruop_input {
        width  : 100%;
        display: block;


    }

    #login .group_button {

        margin-top: 290px;
    }

    #login .frame-100000704000 {

        margin-top: 20px;
    }
}