* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --background-elevation5               : #ffffff;
    --black                               : #000000;
    --greyscale-text0                     : #ffffff;
    --greyscale-text30                    : #828282;
    --greyscale-text5                     : #ececec;
    --primaryblue-300                     : #6186bc;
    --primaryblue-500                     : #134a9b;
    --primaryblue-600                     : #0e3f86;
    --primaryblue-700                     : #0d356e;
    --primaryblue-800                     : #0a2955;
    --secondaryblue-50                    : #e8f8fb;
    --secondaryblue-500                   : #1ab7da;
    --secondaryblue-600                   : #008dac;
    --font-size-l                         : 20px;
    --font-size-m                         : 16px;
    --font-size-s                         : 14px;
    --font-size-xl                        : 24px;
    --font-size-xxl                       : 28px;
    --font-size-xxxl                      : 32px;
    --font-size-xxxxl                     : 48px;
    --font-family-averta-bold             : "Averta-Bold", Helvetica;
    --font-family-proxima_nova-bold       : "Proxima Nova-Bold", Helvetica;
    --font-family-proxima_nova-regular    : "Proxima Nova-Regular", Helvetica;
    --font-family-proxima_nova-semibold   : "Proxima Nova-Semibold", Helvetica;
    --font-family-proxima_nova_vh-bold    : "Proxima Nova vh-Bold", Helvetica;
    --font-family-proxima_nova_vh-regular : "Proxima Nova vh-Regular", Helvetica;
    --font-family-proxima_nova_vh-semibold: "Proxima Nova vh-Semibold", Helvetica;
}

header .menu-lTxfya {
    position        : fixed;
    background-color: var(--background-elevation5);
    box-shadow      : 0px 4px 20px #0021530d;
    height          : 118px;
    overflow        : hidden;
    width           : 100%;
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;


}

header .frame-1000005465-xgRxsF {
    width           : 1400px;
    align-items     : center;
    background-color: transparent;
    display         : flex;
    justify-content : space-between;
    max-width       : 1400px;
    margin          : 0 auto;
}

header .frame-1000005346-xgRxsF {
    align-items     : flex-start;
    background-color: transparent;
    display         : flex;
    justify-content : space-between;
    max-width       : 1400px;
    margin          : 0 auto;
    margin-top      : 5px;


}

header .frame-9174 {
    align-items: center;
    display    : flex;
    gap        : 8px;
    position   : relative;
}

header .frame-9174-VqwDhh {
    background-color: #e7edf580;
    border-radius   : 20px;
    height          : 40px;
    padding         : 0px 24px;
    width           : 562px;
}

header .frame-1000005464-xaxcGs {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 16px;
    justify-content : flex-end;
    position        : relative;
}

header .button-offical-va96Ru {
    align-items     : center;
    background-color: var(--secondaryblue-50);
    border-radius   : 24px;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 8px;
    height          : 40px;
    padding         : 0 24px;
    position        : relative;
}

header .homepage .button-offical-MRhrET {
    align-items     : center;
    background-color: var(--secondaryblue-500);
    border-radius   : 24px;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 8px;
    height          : 40px;
    padding         : 8px 24px;
    position        : relative;
}

header .frame-1000005462-va96Ru {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 12px;
    justify-content : flex-end;
    position        : relative;
}

header .frame-1000005179-tYkvsG {
    background-color: var(--primaryblue-500);
    border-radius   : 20px;
    height          : 36px;
    overflow        : hidden;
    position        : relative;
    width           : 36px;
}

header .component-15-wX3hxc {
    background-color: transparent;
    height          : 24px;
    left            : 6px;
    position        : absolute;
    top             : 6px;
    width           : 24px;
}

header .button-offical-MRhrET {
    align-items     : center;
    background-color: var(--secondaryblue-500);
    border-radius   : 24px;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 8px;
    height          : 40px;
    padding         : 0px 24px;
    position        : relative;
}

header .xem-thm {
    background-color: transparent;
    letter-spacing  : 0header .20px;
    line-height     : 19header .2px;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

header .proximanovavh-normal-white-16px {
    color      : var(--background-elevation5);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}


/* --- */
header .frame-1000005346-xgRxsF {
    align-items     : flex-start;
    background-color: transparent;
    display         : flex;
    justify-content : space-between;
    width           : 1400px;
}

header .trang-ch {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 4px;
    height          : 40px;
    justify-content : center;
    overflow        : hidden;

    position: relative;
}

header .frame-1000005463 {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    flex-direction  : column;
    gap             : 4px;
    justify-content : center;
    position        : relative;
}

header .frame-1000005168 {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 4px;
    justify-content : center;
    position        : relative;
}

header .i-ng-chuyn-gia {
    background-color: transparent;
    letter-spacing  : 0header .00px;
    line-height     : 16header .8px;
    margin-top      : -1px;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
    margin-bottom   : 0px;
}

header .arrow-chevron_-down {
    background-color: transparent;
    height          : 16px;
    position        : relative;
    width           : 16px;
}

header .proximanovavh-normal-tory-blue-14px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : var(--font-size-s);
    font-style : normal;
    font-weight: 400;
}

header .tm-kim-dch-v-jumfUc {
    background-color: transparent;
    outline         : none;
    height          : 100%;
    border          : none;
    width           : 100%;
}

header .proximanovavh-normal-tory-blue-16px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

@media (max-width: 1400px) {
    header .menu-lTxfya {
        height : auto;
        padding: 20px;

    }

    header .frame-1000005465-xgRxsF {
        width: 100%;

    }

    header .frame-1000005346-xgRxsF {
        width          : auto;
        flex-wrap      : wrap;
        justify-content: start;
    }
}

@media (max-width: 768px) {
    header .menu-lTxfya {
        height : auto;
        padding: 20px;

    }

    header .frame-1000005465-xgRxsF {
        width: 100%;

    }

    header .frame-1000005346-xgRxsF {
        width          : auto;
        flex-wrap      : wrap;
        justify-content: start;
    }
}


/* hover css */
header .frame-1000005487-NcootA {
    background-color: var(--background-elevation5);
    border          : 2px solid;
    border-color    : var(--background-elevation5);
    border-radius   : 16px;
    box-shadow      : 2px 6px 30px #124b9a0a, 0px 12px 32px #1bb7da0a;
    height          : 299px;
    overflow        : hidden;
    top             : 129px;
    position        : absolute;
    z-index         : 999;
    width           : 575px;
}

header .rectangle-34625106 {
    background      : linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    background-color: transparent;
    height          : 221px;
    left            : 0px;
    position        : absolute;
    top             : 0px;
}

header .rectangle-34625106-ixWPiO {
    width: 599px;
}

header .frame-1000005181 {
    background-color: transparent;
    border          : 2px solid;
    border-color    : var(--background-elevation5);
    height          : 299px;
    left            : 0px;
    overflow        : hidden;
    position        : absolute;
    top             : 0px;
}

header .frame-1000005181-ixWPiO {
    width: 299px;
}

header .rectangle-34625110 {
    background-color: transparent;
    height          : 299px;
    left            : 0px;
    object-fit      : cover;
    position        : absolute;
    top             : 0px;
}

header .rectangle-34625110-pdmKv0 {
    width: 299px;
}

header .rectangle-34625111 {
    background-color: transparent;
    height          : 299px;
    left            : 0px;
    position        : absolute;
    top             : 0px;
}

header .rectangle-34625111-pdmKv0 {
    object-fit: cover;
    width     : 299px;
}

header .v-chng-ti-pdmKv0 {
    background-color: transparent;
    height          : auto;
    left            : 53px;
    letter-spacing  : -0header .28px;
    line-height     : 33header .6px;
    position        : absolute;
    text-align      : center;
    top             : 240px;
    white-space     : nowrap;
    width           : auto;
}

header .proximanova-bold-white-28px {
    color      : var(--background-elevation5);
    font-family: var(--font-family-proxima_nova-bold);
    font-size  : var(--font-size-l);
    font-style : normal;
    font-weight: 700;
}

header .frame-1000005507 {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex-direction  : column;
    gap             : 12px;
}

header .frame-1000005507-ixWPiO {
    left    : 322px;
    position: absolute;
    top     : 37px;
}

header .frame-1000005339 {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    gap             : 6px;
    position        : absolute;
}

header .frame-1000005339-ixWPiO {
    left: 439px;
    top : 259px;
}

header .gout {
    background-color: transparent;
    position        : relative;
}

header .gout-CpmxGP {
    align-items    : flex-start;
    display        : inline-flex;
    flex           : 0 0 auto;
    flex-direction : column;
    gap            : 4px;
    justify-content: center;
}

header .xem-tt-c {
    background-color: transparent;
    letter-spacing  : 0header .14px;
    line-height     : 16header .8px;
    margin-top      : -1px;
    position        : relative;
    text-align      : left;
    white-space     : nowrap;
    width           : fit-content;
}

header .screen div {
    -webkit-text-size-adjust: none;
}

header .proximanovavh-bold-cerulean-14px {
    color      : var(--secondaryblue-500);
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-s);
    font-style : normal;
    font-weight: 700;
}

header #dropMenu {
    position        : fixed;
    top             : 0;
    width           : 100vw;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display         : none;

    /* Màu đen với độ trong suốt 20% */
}

header .vechungtoi {
    display: none;
}

header .coxuongkhop {
    display: none;
}

article {
    border-bottom: 2px solid black;
    margin       : 0 5px;
}