:root {
    --background-elevation5               : #ffffff;
    --black                               : #000000;
    --greyscale-text0                     : #ffffff;
    --greyscale-text5                     : #ececec;
    --primaryblue-500                     : #134a9b;
    --primaryblue-600                     : #0e3f86;
    --primaryblue-700                     : #0d356e;
    --secondaryblue-50                    : #e8f8fb;
    --secondaryblue-500                   : #1ab7da;
    --font-size-l                         : 28px;
    --font-size-m                         : 16px;
    --font-size-s                         : 14px;
    --font-family-averta-bold             : "Averta-Bold", Helvetica;
    --font-family-proxima_nova-bold       : "Proxima Nova-Bold", Helvetica;
    --font-family-proxima_nova-regular    : "Proxima Nova-Regular", Helvetica;
    --font-family-proxima_nova_vh-bold    : "Proxima Nova vh-Bold", Helvetica;
    --font-family-proxima_nova_vh-regular : "Proxima Nova vh-Regular", Helvetica;
    --font-family-proxima_nova_vh-semibold: "Proxima Nova vh-Semibold", Helvetica;
}

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: aqua;
    width           : 100%;
}

.orther {
    background-color: gray;
    width           : 100%;
    height          : 1000px;
}

footer {
    position           : relative;
    background-image   : url('../imgs/Frame 1000005535 (1).png');
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
}

footer .frame-1000005533-xEX8fG {
    padding        : 18px 0;
    justify-content: center;
    align-items    : center;
    display        : flex;
    text-align     : center;
}

footer .copyright-2023-msc-international-clinic-XMuTRA {
    background-color: transparent;
    letter-spacing  : 0.04px;
    line-height     : 21px;
    position        : relative;
    text-align      : justify;
    white-space     : nowrap;
    width           : fit-content;
}

footer .proximanova-regular-normal-cararra-14px {
    color      : var(--greyscale-text5);
    font-family: var(--font-family-proxima_nova-regular);
    font-size  : var(--font-size-s);
    font-style : normal;
    font-weight: 400;
}

footer .group-XMuTRA {
    background-color: transparent;
    height          : 10.77540397644043px;
    position        : relative;
    width           : 10.775390625px;
}

footer .frame-1000005533-xEX8fG {
    border-top      : 1px #F6F8FB solid;
    align-items     : center;
    background-color: transparent;
    display         : flex;
    gap             : 8px;
    flex-wrap       : wrap;
}

footer .designed-by-okhub-agency-XMuTRA {

    background-color: transparent;
    color           : var(--greyscale-text5);
    font-family     : var(--font-family-proxima_nova_vh-regular);
    font-size       : var(--font-size-s);
    font-style      : normal;
    font-weight     : 400;
    letter-spacing  : 0.00px;
    line-height     : 16.8px;
    position        : relative;
    text-align      : justify;
    white-space     : nowrap;
    width           : fit-content;
}

footer .container {
    display        : flex;
    padding        : 50px;
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
    gap            : 20px;

}

footer .a-xEX8fG {
    background-color: transparent;
    height          : 70px;
    width           : 312px;
}

footer .phng-khm-a-khoa-msc-xEX8fG {
    background-color: transparent;
    color           : var(--greyscale-text5);
    font-family     : var(--font-family-proxima_nova_vh-semibold);
    font-size       : var(--font-size-s);
    font-style      : normal;
    font-weight     : 400;
    height          : auto;
    letter-spacing  : 0.00px;
    line-height     : 16.8px;
    text-align      : justify;
    width           : 303px;
}

footer .m-s-doanh-nghip-0107421628-xEX8fG {
    background-color: transparent;
    color           : var(--greyscale-text5);
    font-family     : var(--font-family-proxima_nova_vh-regular);
    font-size       : var(--font-size-s);
    font-style      : normal;
    font-weight     : 400;
    height          : auto;
    letter-spacing  : 0.00px;
    line-height     : 16.8px;
    text-align      : left;
    white-space     : nowrap;
    width           : auto;
}

footer .phng-khm-a-khoa-msc-xEX8fG {
    background-color: transparent;
    color           : var(--greyscale-text5);
    font-family     : var(--font-family-proxima_nova_vh-semibold);
    font-size       : var(--font-size-s);
    font-style      : normal;
    font-weight     : 400;
    height          : auto;
    letter-spacing  : 0.00px;
    line-height     : 16.8px;
    text-align      : justify;
    width           : 303px;
}

footer .m-s-doanh-nghip-0107421628-xEX8fG {
    background-color: transparent;
    color           : var(--greyscale-text5);
    font-family     : var(--font-family-proxima_nova_vh-regular);
    font-size       : var(--font-size-s);
    font-style      : normal;
    font-weight     : 400;
    height          : auto;
    letter-spacing  : 0.00px;
    line-height     : 16.8px;
    text-align      : left;
    white-space     : nowrap;
    width           : auto;
}

footer .m-s-doanh-nghip-0107421628-xEX8fG a {
    color: var(--greyscale-text5);

}

footer .frame-1000005356-xEX8fG {
    align-items     : flex-start;
    background-color: transparent;
    display         : flex;
    flex-direction  : column;
    gap             : 12px;
    padding-top     : 15px;
}

footer .chuyn-khoa-iu-tr-g5fY0F {
    background-color: transparent;
    letter-spacing  : 0.14px;
    line-height     : 16.8px;
    position        : relative;
    text-align      : left;
    text-shadow     : 0px 4px 20px #ffffff3d;
    white-space     : nowrap;
    width           : fit-content;
}

.proximanovavh-bold-white-14px {
    color      : var(--background-elevation5);
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-s);
    font-style : normal;
    font-weight: 700;
}

footer .frame-1000005170 {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    flex-direction  : column;
    gap             : 8px;
    position        : relative;
}

footer .frame-1000005361-xEX8fG {
    flex-direction: column;
    gap           : 12px;
}

footer .frame-1000005361 {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
}

footer .theo-di-chng-ti-ty9G9d {
    padding-top     : 15px;
    background-color: transparent;
    letter-spacing  : 0.14px;
    line-height     : 16.8px;
    position        : relative;
    text-align      : left;
    text-shadow     : 0px 4px 20px #ffffff3d;
    white-space     : nowrap;
    width           : fit-content;
}

.proximanovavh-bold-white-14px {
    color      : var(--background-elevation5);
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-s);
    font-style : normal;
    font-weight: 700;
}

footer .frame-1000005361 {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
}

footer .frame-1000005358-jQ5zRj {
    background-color: transparent;
    height          : 40px;
    position        : relative;
    width           : 40px;
}

footer .frame-1000005359-jQ5zRj {
    background-color: transparent;
    height          : 40px;
    position        : relative;
    width           : 40px;
}

footer .component-186-jQ5zRj {
    background-color: transparent;
    height          : 40px;
    position        : relative;
    width           : 40px;
}

footer .ellipse-2020-iabCvx {
    background-color: var(--background-elevation5);
    border-radius   : 20px;
    height          : 40px;
    width           : 40px;
}

footer .zalo-iabCvx {
    background-color: transparent;
    color           : #028fe3;
    font-family     : var(--font-family-averta-bold);
    font-size       : var(--font-size-s);
    font-style      : normal;
    font-weight     : 700;
    height          : auto;
    left            : 6px;
    letter-spacing  : -0.70px;
    line-height     : 19.5px;
    position        : absolute;
    text-align      : left;
    top             : 9px;
    white-space     : nowrap;
    width           : auto;
}

footer .frame-1000005361-ty9G9d {
    flex           : 0 0 auto;
    position       : relative;
    display        : flex;
    width          : 100%;
    justify-content: space-between;
}

footer .container>div {
    gap           : 20px;
    display       : flex;
    flex-direction: column;
}

footer .m-s-doanh-nghip-0107421628-xEX8fG {
    color: var(--greyscale-text5);

}

footer .moblie>div {
    margin : 0 10px;
    display: none;
}

@media (max-width: 458px) {
    footer .moblie>div {
        margin : 0 10px;
        display: flex;
    }

    footer .desktop>div {
        display: none;
    }

    footer .a-xEX8fG {
        width: 80%;
        ;
    }

    footer .phng-khm-a-khoa-msc-xEX8fG {
        width: 70vw;
    }

}