* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --black                               : #000000;
    --greyscale-text0                     : #ffffff;
    --greyscale-text30                    : #828282;
    --primaryblue-100                     : #b6c7e0;
    --primaryblue-500                     : #134a9b;
    --primaryblue-600                     : #0e3f86;
    --thunderbird                         : #bd2424;
    --font-size-l                         : 2rem;
    --font-size-m                         : 1rem;
    --font-size-xl                        : 3rem;
    --font-family-proxima_nova-bold       : "Proxima Nova-Bold", Helvetica;
    --font-family-proxima_nova_vh-bold    : "Proxima Nova vh-Bold", Helvetica;
    --font-family-proxima_nova_vh-regular : "Proxima Nova vh-Regular", Helvetica;
    --font-family-proxima_nova_vh-semibold: "Proxima Nova vh-Semibold", Helvetica;
}

body {
    /* background-color: gray; */
}

#form_lien_he textarea,
#form_lien_he input {
    border  : none;
    overflow: hidden;
    outline : none;
}

#form_lien_he textarea {
    height: 100%;
}

#form_lien_he {
    background-color: aliceblue;
    display         : flex;
    justify-content : center;
}

#form_lien_he .official-form-ng-k-thm-khm-lR8Ypc {
    /* background-color: gray; */
    display        : flex;
    align-items    : center;
    max-width      : 100rem;
    width          : 100%;
    justify-content: space-around;
    margin         : 3.125rem 0;
}

#form_lien_he .rectangle-PReCxz {
    background-color: transparent;
    height          : 22.875rem;
    width           : 30.1875rem;
}

#form_lien_he .frame-1000005498-PReCxz {
    margin-right    : 1.25rem;
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex-direction  : column;
    gap             : 2.25rem;
}

#form_lien_he .li-nhu-cu-khm {
    background-color: transparent;
    color           : var(--primaryblue-500);
    font-style      : normal;
    font-weight     : 700;
    text-align      : center;
    text-shadow     : 0px -0.837rem 1.174rem #ffffff40;
    white-space     : nowrap;
}

#form_lien_he .li-nhu-cu-khm-N1nw72 {
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-xl);
    line-height: 3.6rem;
    position   : relative;
    width      : fit-content;
}

#form_lien_he .frame-1000005497 {
    align-items     : flex-start;
    background-color: transparent;
    display         : flex;
    flex            : 0 0 auto;
    position        : relative;
}

#form_lien_he .frame-1000005497-N1nw72 {
    gap  : 1.5rem;
    width: 52.5rem;
}

#form_lien_he .frame-1000005383-lDMiED {
    align-items     : flex-start;
    background-color: transparent;
    display         : flex;
    flex-direction  : column;
    gap             : 1.25rem;
    position        : relative;
    width           : 23rem;
}

#form_lien_he .input-field {
    align-items     : flex-start;
    background-color: transparent;
    border-radius   : 1.5rem;
    display         : flex;
    flex-direction  : column;
    gap             : 0.5rem;
    overflow        : hidden;
    position        : relative;
}

#form_lien_he .input-field-MI5n4j {
    align-self: stretch;
    flex      : 0 0 auto;
    width     : 100%;
}

#form_lien_he .frame-9137 {
    align-items     : flex-start;
    align-self      : stretch;
    background-color: transparent;
    display         : flex;
    flex-direction  : column;
    gap             : 0.5rem;
    height          : 3rem;
    position        : relative;
    width           : 100%;
}

#form_lien_he .frame-16 {
    background-color: var(--greyscale-text0);
    display         : flex;
    overflow        : hidden;
    position        : relative;
}

/*  */
#form_lien_he .frame-16-3ud2Wx {
    align-items    : center;
    align-self     : stretch;
    border-radius  : 0.25rem;
    height         : 3rem;
    justify-content: space-between;
    padding        : 0.75rem 1.25rem;
    width          : 100%;
}

#form_lien_he .frame-9174 {
    align-items     : center;
    background-color: transparent;
    display         : flex;
    flex            : 1;
    flex-grow       : 1;
    gap             : 0.5rem;
    position        : relative;
}

#form_lien_he .h-v-tn {
    background-color: transparent;
    letter-spacing  : 0;
    line-height     : 1.5rem;
    margin-top      : -0.0625rem;
    position        : relative;
    text-align      : left;
    white-space     : nowrap;
    width           : fit-content;
}

.proximanovavh-regular-normal-white-16px {
    font-family: var(--font-family-proxima_nova_vh-regular);
    font-size  : 1rem;
    font-style : normal;
    font-weight: 400;
}

#form_lien_he .frame-1000005380-MI5n4j {
    align-items     : flex-start;
    align-self      : stretch;
    background-color: transparent;
    display         : flex;
    flex            : 0 0 auto;
    gap             : 1rem;
    position        : relative;
    width           : 100%;
}

#form_lien_he .frame-16 {
    background-color: var(--greyscale-text0);
    display         : flex;
    overflow        : hidden;
    position        : relative;
}

#form_lien_he .frame-16-FpLHIk {
    align-items    : center;
    align-self     : stretch;
    border-radius  : 1.5rem;
    justify-content: space-between;
    padding        : 0.75rem 1rem 0.75rem 1.25rem;
    width          : 10.875rem;
}

#form_lien_he .frame-9174 {
    align-items     : center;
    background-color: transparent;
    display         : flex;
    flex            : 1;
    flex-grow       : 1;
    gap             : 0.5rem;
    position        : relative;
}

#form_lien_he .s-in-thoi {
    background-color: transparent;
    letter-spacing  : 0;
    line-height     : 1.5rem;
    margin-top      : -0.0625rem;
    position        : relative;
    text-align      : left;
    white-space     : nowrap;
    width           : fit-content;
}

.proximanovavh-regular-normal-white-16px {
    font-family: var(--font-family-proxima_nova_vh-regular);
    font-size  : 1rem;
    font-style : normal;
    font-weight: 400;
}

.proximanovavh-regular-normal-gray-16px {
    color      : var(--greyscale-text30);
    font-family: var(--font-family-proxima_nova_vh-regular);
    font-size  : 1rem;
    font-style : normal;
    font-weight: 400;
}

#form_lien_he .frame-16 {
    background-color: var(--greyscale-text0);
    display         : flex;
    overflow        : hidden;
    position        : relative;
}

#form_lien_he .frame-16-XJ5Rd1 {
    align-items    : center;
    align-self     : stretch;
    border-radius  : 1.5rem;
    flex           : 1;
    flex-grow      : 1;
    gap            : 0.5rem;
    justify-content: space-around;
    padding        : 0.75rem 1.25rem;
}

#form_lien_he .frame-9174 {
    align-items     : center;
    background-color: transparent;
    display         : flex;
    flex            : 1;
    flex-grow       : 1;
    gap             : 0.5rem;
    position        : relative;
}

#form_lien_he .nm-sinh {
    background-color: transparent;
    letter-spacing  : 0;
    line-height     : 1.5rem;
    margin-top      : -0.0625rem;
    position        : relative;
    text-align      : left;
    white-space     : nowrap;
    width           : 100%;
}

.proximanovavh-normal-gray-16px {
    color      : var(--greyscale-text30);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : 1rem;
    font-style : normal;
    font-weight: 400;
}

/*  */
#form_lien_he .frame-1000005381-MI5n4j {
    align-items     : center;
    align-self      : stretch;
    background-color: var(--greyscale-text0);
    border-radius   : 1.5rem;
    display         : flex;
    height          : 3rem;
    justify-content : space-between;
    overflow        : hidden;
    padding         : 0.75rem 1rem 0.75rem 1.25rem;
    position        : relative;
    width           : 100%;
}

#form_lien_he .frame-9174 {
    align-items     : center;
    background-color: transparent;
    display         : flex;
    flex            : 1;
    flex-grow       : 1;
    gap             : 0.5rem;
    position        : relative;
}

#form_lien_he .arrow-caret_-down_md {
    background-color: transparent;
    height          : 1.25rem;
    position        : relative;
    width           : 1.25rem;
}

#form_lien_he .frame-16 {
    background-color: var(--greyscale-text0);
    display         : flex;
    overflow        : hidden;
    position        : relative;
}

#form_lien_he .frame-16-MI5n4j {
    align-items    : center;
    align-self     : stretch;
    border-radius  : 1.5rem;
    height         : 3rem;
    justify-content: space-between;
    padding        : 0.75rem 1rem 0.75rem 1.25rem;
    width          : 100%;
}

#form_lien_he .frame-9174 {
    align-items     : center;
    background-color: transparent;
    display         : flex;
    flex            : 1;
    flex-grow       : 1;
    gap             : 0.5rem;
    position        : relative;
}

#form_lien_he .arrow-caret_-down_md {
    background-color: transparent;
    height          : 1.25rem;
    position        : relative;
    width           : 1.25rem;
}

#form_lien_he .frame-1000007229-MI5n4j {
    align-items     : flex-start;
    align-self      : stretch;
    background-color: transparent;
    display         : flex;
    flex            : 0 0 auto;
    gap             : 0.625rem;
    position        : relative;
    width           : 100%;
}

#form_lien_he .frame-16 {
    background-color: var(--greyscale-text0);
    display         : flex;
    overflow        : hidden;
    position        : relative;
}

#form_lien_he .frame-16-eJxK4I {
    align-items    : center;
    border-radius  : 1.5rem;
    height         : 3rem;
    justify-content: space-between;
    padding        : 0.75rem 1rem 0.75rem 1.25rem;
    width          : 11.8125rem;
}

#form_lien_he .frame-9174 {
    align-items     : center;
    background-color: transparent;
    display         : flex;
    flex            : 1;
    flex-grow       : 1;
    gap             : 0.5rem;
    position        : relative;
}

#form_lien_he .calendar-calendar {
    background-color: transparent;
    height          : 1.25rem;
    position        : relative;
    width           : 1.25rem;
}

#form_lien_he .input-field {
    align-items     : flex-start;
    background-color: transparent;
    border-radius   : 1.5rem;
    display         : flex;
    flex-direction  : column;
    gap             : 0.5rem;
    overflow        : hidden;
    position        : relative;
}

#form_lien_he .input-field-eJxK4I {
    flex     : 1;
    flex-grow: 1;
}

#form_lien_he .frame-9137 {
    align-items     : flex-start;
    align-self      : stretch;
    background-color: transparent;
    display         : flex;
    flex-direction  : column;
    gap             : 0.5rem;
    height          : 3rem;
    position        : relative;
    width           : 100%;
}

#form_lien_he .frame-16 {
    background-color: var(--greyscale-text0);
    display         : flex;
    overflow        : hidden;
    position        : relative;
}

#form_lien_he .frame-16-g1i0GS {
    align-items    : center;
    align-self     : stretch;
    border-radius  : 0.25rem;
    height         : 3rem;
    justify-content: space-between;
    padding        : 0.75rem 1.25rem;
    width          : 100%;
}

#form_lien_he .frame-9174 {
    align-items     : center;
    background-color: transparent;
    display         : flex;
    flex            : 1;
    flex-grow       : 1;
    gap             : 0.5rem;
    position        : relative;
}

#form_lien_he .frame-1000005496-lDMiED {
    align-items     : center;
    align-self      : stretch;
    background-color: transparent;
    display         : flex;
    flex            : 1;
    flex-direction  : column;
    flex-grow       : 1;
    gap             : 1.25rem;
    position        : relative;
}

#form_lien_he .frame-16 {
    background-color: var(--greyscale-text0);
    display         : flex;
    overflow        : hidden;
    position        : relative;
}

#form_lien_he .frame-16-kcBZIQ {
    align-items    : flex-start;
    align-self     : stretch;
    border-radius  : 1.5rem;
    flex           : 1;
    flex-grow      : 1;
    justify-content: space-between;
    padding        : 1rem 0.75rem 0.75rem 1rem;
    width          : 100%;
}

#form_lien_he .frame-1000007212-kcBZIQ {
    align-items     : center;
    align-self      : stretch;
    background-color: transparent;
    display         : flex;
    flex            : 0 0 auto;
    gap             : 1.125rem;
    position        : relative;
    width           : 100%;
}

#form_lien_he .button-offical {
    align-items  : center;
    border-radius: 1.5rem;
    display      : flex;
    flex         : 1;
    flex-grow    : 1;
    gap          : 0.5rem;
    height       : 3rem;
    padding      : 0.5rem 1.5rem;
    position     : relative;
}

#form_lien_he .xem-thm {
    background-color: transparent;
    font-family     : var(--font-family-proxima_nova_vh-semibold);
    font-size       : var(--font-size-m);
    font-style      : normal;
    font-weight     : 400;
    letter-spacing  : 0.20rem;
    line-height     : 1.2rem;
    position        : relative;
    text-align      : center;
}

#form_lien_he .xem-thm-xVx1RY {
    color: var(--greyscale-text0);
    flex : 1;
}

#form_lien_he .button-offical {
    align-items  : center;
    border-radius: 1.5rem;
    display      : flex;
    flex         : 1;
    flex-grow    : 1;
    gap          : 0.5rem;
    height       : 3rem;
    padding      : 0.5rem 1.5rem;
    position     : relative;
}

#form_lien_he .button-offical-oyRLgM {
    background-color: var(--greyscale-text0);
    border          : 1px solid;
    border-color    : var(--primaryblue-500);
}

#form_lien_he .xem-thm {
    background-color: transparent;
    font-family     : var(--font-family-proxima_nova_vh-semibold);
    font-size       : 1rem;
    font-style      : normal;
    font-weight     : 400;
    letter-spacing  : 0.20px;
    line-height     : 1.2rem;
    position        : relative;
    text-align      : center;
}

#form_lien_he .xem-thm-xNm438 {
    color      : var(--primaryblue-500);
    white-space: nowrap;
    width      : fit-content;
}

#form_lien_he .button-offical-Ckhi2G {
    background-color: var(--primaryblue-500);
}

@media (max-width: 1300px) {
    #form_lien_he .rectangle-PReCxz {
        display: none;
    }

    #form_lien_he .official-form-ng-k-thm-khm-lR8Ypc {
        justify-content: space-around;
    }

    #form_lien_he .frame-1000005498-PReCxz {
        margin-right: 0rem;
    }
}

@media (max-width: 880px) {
    #form_lien_he .frame-1000005497-N1nw72 {
        flex-direction: column;
        display       : flex;
        width         : 90vw;
    }

    #form_lien_he .frame-1000005498-PReCxz {
        margin-top: 50px;
    }

    #form_lien_he .official-form-ng-k-thm-khm-lR8Ypc {
        height: 100%;
    }

    #form_lien_he .frame-1000005383-lDMiED {
        width: 100%;
    }

    #form_lien_he .frame-1000007212-kcBZIQ {
        display       : flex;
        flex-direction: column;
    }

    #form_lien_he .button-offical-Ckhi2G {
        width: 100%;
    }

    #form_lien_he .button-offical-oyRLgM {
        width          : 100%;
        justify-content: center;
    }

    #form_lien_he .frame-1000007229-MI5n4j {
        flex-direction: column;
    }

    #form_lien_he .frame-1000005380-MI5n4j {
        gap: 1.25rem;
    }

    #form_lien_he .frame-16 {
        width: 100%;
    }

    #form_lien_he .input-field-eJxK4I {
        width: 100%;
    }

    #form_lien_he .frame-1000005380-MI5n4j {
        flex-direction: column;
    }

    #form_lien_he .frame-1000007229-MI5n4j {
        gap: 1.25rem;
    }

    #form_lien_he .xem-thm {
        margin: 0.5rem;
    }

    #form_lien_he .frame-9174__ {
        width : 100%;
        height: 5.5625rem !important;
    }

    #form_lien_he .li-nhu-cu-khm-N1nw72 {
        font-size: 10vw;
    }

    #form_lien_he .button-offical-oyRLgM {
        background-color: var(--primaryblue-100);
        border          : 0;
    }
}