* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --black                               : #000000;
    --greyscale-text0                     : #ffffff;
    --primaryblue-300                     : #6186bc;
    --primaryblue-400                     : #1e60c1;
    --primaryblue-500                     : #134a9b;
    --primaryblue-600                     : #0e3f86;
    --primaryblue-700                     : #0d356e;
    --secondaryblue-400                   : #45dcff;
    --font-size-l                         : 1.0125rem;
    --font-size-m                         : 1rem;
    --font-size-s                         : 0.875rem;
    --font-size-xl                        : 1.30625rem;
    --font-size-xxl                       : 1.5rem;
    --font-size-xxxl                      : 2rem;
    --font-size-xxxxl                     : 3rem;
    --font-family-proxima_nova-bold       : "Proxima Nova-Bold", Helvetica;
    --font-family-proxima_nova-regular    : "Proxima Nova-Regular", Helvetica;
    --font-family-proxima_nova_vh-bold    : "Proxima Nova vh-Bold", Helvetica;
    --font-family-proxima_nova_vh-regular : "Proxima Nova vh-Regular", Helvetica;
    --font-family-proxima_nova_vh-semibold: "Proxima Nova vh-Semibold", Helvetica;
}

#suluachonhangdau {
    background-color: #134a9b;


    width          : 100%;
    justify-content: center;
    display        : flex;
    align-items    : center;


}

#suluachonhangdau .container {
    background-color: var(--primaryblue-600);

    max-width: 87.5rem;
    width    : 100%;
}

#suluachonhangdau .s-la-chn-hng-u-cho-sc-kho-ca-bn {
    background-color: transparent;
    color           : transparent;
    font-family     : var(--font-family-proxima_nova_vh-bold);
    font-style      : normal;
    font-weight     : 700;
    height          : auto;
}

#suluachonhangdau .s-la-chn-hng-u-cho-sc-kho-ca-bn-7GnH4e {
    font-size  : var(--font-size-xxxxl);
    line-height: 3.6rem;
    text-align : justify;
    white-space: nowrap;
    width      : auto;
    margin     : 3.125rem 0;
}

.proximanovavh-bold-white-48px {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-xxxxl);
    font-style : normal;
    font-weight: 700;
}

.proximanovavh-bold-turquoise-blue-48px {
    color      : var(--secondaryblue-400);
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-xxxxl);
    font-style : normal;
    font-weight: 700;
}



#suluachonhangdau .component-187-rLs8bh {
    background-color: var(--primaryblue-600);
    height          : 54.6875rem;
    overflow        : hidden;
    position        : relative;
}

#suluachonhangdau .frame-1000005735-7GnH4e {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    height          : 13.0625rem;
    width           : 100%;
    padding         : 0 3.125rem;
    background-image: url('https://cdn.animaapp.com/projects/65d72adb3570f8e5072f919d/releases/65d800f31e57a5bc26ea12fb/img/rectangle-34625240.png');
}

#suluachonhangdau .rectangle-34625240 {
    background-color: transparent;
    object-fit      : cover;
}

#suluachonhangdau .rectangle-34625240-t7KdB8 {
    height: 13.0625rem;
    width : 87.5rem;
}

#suluachonhangdau .phng-khm-a-khoa-msc {
    background-color: transparent;
    color           : transparent;
    font-style      : normal;
    font-weight     : 700;
    height          : auto;
    text-align      : justify;
}

#suluachonhangdau .phng-khm-a-khoa-msc-t7KdB8 {
    font-family   : var(--font-family-proxima_nova_vh-bold);
    font-size     : var(--font-size-xxl);
    left          : 3.375rem;
    letter-spacing: -0.24px;

    top  : 3.0625rem;
    width: 28rem;
}

#suluachonhangdau .span0-INX0tY {
    color     : var(--greyscale-text0);
    font-style: normal;
}

#suluachonhangdau .span1-INX0tY {
    color     : var(--secondaryblue-400);
    font-style: normal;

}

#suluachonhangdau .span2-INX0tY {
    color     : var(--greyscale-text0);
    font-style: normal;

}

#suluachonhangdau .span3-INX0tY {
    color     : var(--secondaryblue-400);
    font-style: normal;

}

#suluachonhangdau .ellipse-2036 {
    background      : linear-gradient(180deg, rgb(218.87500405311584, 50.158855095505714, 50.158855095505714) 0%, rgba(255, 88.18749949336052, 88.18749949336052, 0) 100%);
    background-color: transparent;
}

#suluachonhangdau .ellipse-2036-t7KdB8 {
    border-radius: 4.345rem;
    height       : 8.75rem;
    width        : 8.75rem;

}

#suluachonhangdau .frame-1000005734 {
    display         : flex;
    background-color: transparent;

}

#suluachonhangdau .frame-1000005734-7GnH4e {
    margin-top     : 3.125rem;
    display        : flex;
    width          : 100%;
    max-width      : 87.5rem;
    justify-content: space-between;
    align-items    : center;
    gap            : 3.125rem;
}

#suluachonhangdau .frame-1000005736 {
    border-color: var(--primaryblue-300);
    overflow    : hidden;
    position    : relative;
}

#suluachonhangdau .frame-1000005736-e3envm {
    background-color: var(--primaryblue-400);
    border          : 1px solid;
    border-radius   : 1.6rem;
    height          : 22.5rem;
    display         : flex;
    width           : 100%;
    padding         : 3.125rem;
}

#suluachonhangdau .frame-1000005738-e3envm {
    background-color: var(--primaryblue-400);
    border          : 1px solid;
    border-color    : var(--primaryblue-300);
    border-radius   : 1.6rem;
    height          : 22.5rem;
    overflow        : hidden;
    position        : relative;
    width           : 42.25rem;
}

#suluachonhangdau .frame-1000005739-cFPO5S {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex-direction  : column;
    gap             : 2rem;
}

#suluachonhangdau .frame-1000005740 {
    align-items     : flex-start;
    background-color: transparent;
    flex            : 0 0 auto;
    flex-direction  : column;
    position        : relative;
}

#suluachonhangdau .frame-1000005740-RTxuZD {
    display: inline-flex;
    gap    : 1.5rem;
}

#suluachonhangdau .i-ng-bc-s-chuyn-gia-u-ngnh-rxwt9x {
    line-height: 2.4rem;
    text-align : justify;
    width      : fit-content;
}

.proximanovavh-bold-white-32px {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-xxxl);
    font-style : normal;
    font-weight: 700;
}

#suluachonhangdau .msc-clinic-quy-t-i-n {
    background-color: transparent;
    position        : relative;
    text-align      : justify;
}

#suluachonhangdau .msc-clinic-quy-t-i-n-rxwt9x {
    letter-spacing: 0.00px;
    line-height   : 1.5rem;
    width         : 19.69rem;
}

.proximanovavh-regular-normal-white-16px {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova_vh-regular);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

#suluachonhangdau .frame-1000005740-RTxuZD {
    display: inline-flex;
    gap    : 1.5rem;
}

#suluachonhangdau .button-offical {
    align-items     : center;
    background-color: var(--greyscale-text0);
    border-radius   : 2.4rem;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 0.5rem;
    padding         : 0.5rem 0.5rem 0.5rem 1.5rem;
    position        : relative;
}

#suluachonhangdau .xem-thm {
    background-color: transparent;
    letter-spacing  : 0.20px;
    line-height     : 1.2rem;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#suluachonhangdau .frame-1000005541 {
    background-color: transparent;
    height          : 2rem;
    position        : relative;
    width           : 2rem;
}

#suluachonhangdau .frame-1000005738-e3envm {
    background-color: var(--primaryblue-400);
    border          : 1px solid;
    border-color    : var(--primaryblue-300);
    border-radius   : 1rem;
    height          : 22.5rem;
    overflow        : hidden;
    position        : relative;
    width           : 100%;

    display    : flex;
    align-items: center;
    padding    : 3.125rem;
}

#suluachonhangdau .a-cFPO5S {
    height  : 17.125rem;
    width   : 20.9375rem;
    position: absolute;
    right   : 0;
    bottom  : 0;
}

#suluachonhangdau .rectangle-iZpwdQ {
    height  : 16.1875rem;
    position: absolute;
    right   : 0;
    bottom  : 0;
}

#suluachonhangdau .msc-clinic-s-hu-h-th-qEgvC8 {
    letter-spacing: 0.00rem;
    line-height   : 1.5rem;
    width         : 21.5898rem;
}

.proximanovavh-regular-normal-white-16px {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova_vh-regular);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

#suluachonhangdau .frame-1000005739-iZpwdQ {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex-direction  : column;
    gap             : 30px;
}

#suluachonhangdau .frame-1000005741-8dLgDj {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    flex-direction  : column;
    gap             : 1.5rem;
    position        : relative;
}

#suluachonhangdau .msc-clinic-s-hu-h-th-qEgvC8 {
    letter-spacing: 0.00rem;
    line-height   : 1.5rem;
    width         : 21.5898rem;
}

#suluachonhangdau .frame-1000005736-e3envm {
    background-color: var(--primaryblue-400);
    border          : 1px solid;
    border-radius   : 1rem;
    height          : 22.5rem;
    width           : 100%;
}

#suluachonhangdau .frame-1000005736 {
    border-color: var(--primaryblue-300);
    overflow    : hidden;
    position    : relative;
}

#suluachonhangdau .frame-1000005596-rLs8bh {
    background-color: var(--primaryblue-600);
    height          : 43.4375rem;
    overflow        : hidden;
    position        : relative;
    display         : flex;
    justify-content : space-between;
}

#suluachonhangdau .tm-nhn-v-s-mnh {
    background-color: transparent;
    color           : transparent;
    font-family     : var(--font-family-proxima_nova_vh-bold);
    font-style      : normal;
    font-weight     : 700;
}

#suluachonhangdau .tm-nhn-v-s-mnh-v9DT2u {
    font-size    : var(--font-size-xxxxl);
    height       : auto;
    line-height  : 3.6rem;
    text-align   : left;
    margin-bottom: 3.125rem;
}

#suluachonhangdau .frame-1000005751-v9DT2u {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex-direction  : column;
    gap             : 1rem;
}

#suluachonhangdau .component-200 {
    background-color: var(--primaryblue-400);
    padding         : 2.25rem;
    border          : 1px solid;
    border-color    : var(--primaryblue-300);
    border-radius   : 1rem;
    width           : 32.9375rem;
}

#suluachonhangdau .component-200-xXIWKJ {
    position: relative;
}

#suluachonhangdau .frame-1000005742 {
    align-items     : flex-start;
    background-color: transparent;
    display         : flex;
    justify-content : space-between;
}

#suluachonhangdau .frame-1000005742-vxPFGA {
    width: 28.4375rem;
}

#suluachonhangdau .frame-1000005743 {
    align-items     : center;
    background-color: transparent;
    display         : flex;
    position        : relative;
}

#suluachonhangdau .frame-1000005743-1WxP6I {
    gap  : 1rem;
    width: 21.6836rem;
}

#suluachonhangdau .frame-1000005748 {
    align-items     : flex-start;
    background-color: transparent;
    flex-direction  : column;
    justify-content : center;
    position        : relative;
}

#suluachonhangdau .frame-1000005748-2Rv49S {
    display: flex;
    gap    : 0.5rem;
    width  : 25.75rem;
}

#suluachonhangdau .frame-1000005749 {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    position        : relative;
}

#suluachonhangdau .frame-1000005749-q9Vrrt {
    gap: 0.5rem;
}

#suluachonhangdau .component-201-TEB11C {
    height: 2.5rem;
    width : 2.5rem;
}

#suluachonhangdau .s-mnh {
    background-color: transparent;
    position        : relative;
    text-align      : left;
    white-space     : nowrap;
    width           : fit-content;
}

.proximanova-bold-turquoise-blue-32px {
    color      : var(--secondaryblue-400);
    font-family: var(--font-family-proxima_nova-bold);
    font-size  : 2rem;
    font-style : normal;
    font-weight: 700;
}

#suluachonhangdau .pclasss {
    margin-top: 1.25rem;
}

#suluachonhangdau .msc-clinic-c-quyn-s-q9Vrrt {
    align-self : stretch;
    line-height: 1.2rem;
    text-align : justify;
    white-space: nowrap;
}

.proximanovavh-bold-white-16px {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : 1rem;
    font-style : normal;
    font-weight: 700;
}

#suluachonhangdau .gip-iu-tr-nhng-tn-th {
    background-color: transparent;
    height          : auto;
    line-height     : 1.5rem;
    width           : 28.4375rem;
}

.proximanovavh-normal-tory-blue-16px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : 1rem;
    font-style : normal;
    font-weight: 400;
}

#suluachonhangdau .a-v9DT2u {
    height  : 37.125rem;
    width   : 48.5rem;
    bottom  : 0;
    right   : 0;
    position: absolute;
}

@media (max-width: 1480px) {
    #suluachonhangdau .container {
        padding: 3.125rem;
    }

    #suluachonhangdau .frame-1000005735-7GnH4e {

        border-radius: 1.25rem;
    }

    #suluachonhangdau .a-cFPO5S {
        display: none;
    }

    #suluachonhangdau .rectangle-iZpwdQ {
        display: none;
    }

    #suluachonhangdau .s-la-chn-hng-u-cho-sc-kho-ca-bn-7GnH4e {
        display  : flex;
        gap      : 0.3125rem;
        flex-wrap: wrap;
    }

    #suluachonhangdau .a-v9DT2u {
        display: none;
    }

    #suluachonhangdau .frame-1000005596-rLs8bh {
        justify-content: center;
    }
}

#suluachonhangdau .span_mobie {
    display: none;
}

@media (max-width: 1070px) {
    #suluachonhangdau .frame-1000005734-7GnH4e {
        flex-direction: column;
        height        : 100%;
        height        : 800px !important;
    }

    #suluachonhangdau .component-187-rLs8bh {
        height: 100%;
    }

    #suluachonhangdau .a-cFPO5S {
        display: block;
    }

    #suluachonhangdau .rectangle-iZpwdQ {
        display: block;
        right  : 0;

    }

    #suluachonhangdau .rectangle-iZpwdQ {
        height  : 259px;
        position: absolute;
        right   : 0;
        bottom  : 0;
    }

    #suluachonhangdau .a-v9DT2u {
        display : block;
        position: relative;
        width   : 100%;
        height  : auto;

    }

    #suluachonhangdau .frame-1000005596-rLs8bh {
        flex-direction: column-reverse;

    }

    #suluachonhangdau .frame-1000005596-rLs8bh {
        height         : 100%;
        justify-content: center;
        align-items    : center;
    }

    #suluachonhangdau .frame-1000005735-7GnH4e {
        background-repeat  : no-repeat;
        background-size    : cover;
        background-position: center;
        height             : 240px;
        background-image   : url('../imgs/Rectangle\ 34625240\ \(1\).png');
        position           : relative;
    }

    #suluachonhangdau .phng-khm-a-khoa-msc-t7KdB8 {
        display: none;
    }

    #suluachonhangdau .span_mobie {
        display: block;
        width  : 100%;
        margin : 50px 0;
    }

    #suluachonhangdau .ellipse-2036-t7KdB8 {
        position: absolute;
        top     : 10px;
        right   : 10px;
    }



}

@media (max-width: 786px) {
    #suluachonhangdau .tm-nhn-v-s-mnh-v9DT2u {
        display        : flex;
        justify-content: center;
    }

    #suluachonhangdau .a-cFPO5S {
        display: none;
    }

    #suluachonhangdau .rectangle-iZpwdQ {
        display: none;
    }

    #suluachonhangdau .frame-1000005736-e3envm {

        padding: 20px;
    }

    #suluachonhangdau .msc-clinic-quy-t-i-n-rxwt9x {
        width: 100%;
    }

    #suluachonhangdau .msc-clinic-s-hu-h-th-qEgvC8 {
        width: 100%;

    }

    #suluachonhangdau .frame-1000005736-e3envm {
        height: 100%;
    }

    #suluachonhangdau .frame-1000005734-7GnH4e {
        flex-direction: column;
        height        : 100% !important;

    }

    #suluachonhangdau .container {
        padding: 20px;
    }

    #suluachonhangdau .component-200 {
        padding: 20px;
        width  : 100%;
    }

    .proximanovavh-bold-white-48px {
        padding: 0 5px;
    }

    #suluachonhangdau .gip-iu-tr-nhng-tn-th {

        width: 100%;
    }

    #suluachonhangdau .frame-1000005742-vxPFGA {
        width: 100%;

    }
}