* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --black                               : #000000;
    --greyscale-text0                     : #ffffff;
    --primaryblue-400                     : #1e60c1;
    --primaryblue-500                     : #134a9b;
    --primaryblue-600                     : #0e3f86;
    --primaryblue-700                     : #0d356e;
    --turquoise-blue                      : #45dcff;
    --zircon                              : #f6faff;
    --font-size-l                         : 20px;
    --font-size-m                         : 16px;
    --font-size-s                         : 14px;
    --font-size-xl                        : 24px;
    --font-size-xxl                       : 30px;
    --font-size-xxxl                      : 32px;
    --font-size-xxxxl                     : 48px;
    --font-family-proxima_nova-bold       : "Proxima Nova-Bold", Helvetica;
    --font-family-proxima_nova-semibold   : "Proxima Nova-Semibold", Helvetica;
    --font-family-proxima_nova_vh-bold    : "Proxima Nova vh-Bold", Helvetica;
    --font-family-proxima_nova_vh-regular : "Proxima Nova vh-Regular", Helvetica;
    --font-family-proxima_nova_vh-semibold: "Proxima Nova vh-Semibold", Helvetica;
}

#chitietdichvukhamsuckhoetongquat .container {
    position           : relative;
    height             : 820px;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    background-image   : url("https://cdn.animaapp.com/projects/65dae37cd8a7585f62fd00b8/releases/65dc1b115df743f8480a6c9b/img/rectangle-34625294.png");
}

#chitietdichvukhamsuckhoetongquat .x221-17-2 {
    background      : linear-gradient(180deg, rgba(19.0000007674098, 74.0000031888485, 155.00000596046448, 0) 0%, rgb(19.0000007674098, 74.0000031888485, 155.00000596046448) 100%, rgb(19.0000007674098, 74.0000031888485, 155.00000596046448) 100%);
    background-color: transparent;
    position        : absolute;


}

#chitietdichvukhamsuckhoetongquat .x221-17-2-uUUIHM {
    height: 379px;
    width : 100%;
    width : 100%;
    bottom: 0;
}

#chitietdichvukhamsuckhoetongquat .content {
    justify-content: center;
    display        : flex;
    height         : 100%;
}

#chitietdichvukhamsuckhoetongquat .group {
    position : relative;
    width    : 100%;
    display  : flex;
    max-width: 1400px;
}





#chitietdichvukhamsuckhoetongquat .frame-1000005779-uUUIHM {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    gap             : 8px;
    margin          : 50px 0;
}

#chitietdichvukhamsuckhoetongquat .trang-ch {
    background-color: transparent;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#chitietdichvukhamsuckhoetongquat .x {
    background-color: transparent;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#chitietdichvukhamsuckhoetongquat .x-gfDxDH {
    letter-spacing: -0.16px;
    line-height   : 19.2px;
}

#chitietdichvukhamsuckhoetongquat .tm-sot-sc-kho-ton-din {
    background-color: transparent;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#chitietdichvukhamsuckhoetongquat .tm-sot-sc-kho-ton-din-gfDxDH {
    line-height: 19.2px;
}

.proximanovavh-regular-normal-denim-16px {
    color      : var(--primaryblue-400);
    font-family: var(--font-family-proxima_nova_vh-regular);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

#chitietdichvukhamsuckhoetongquat .x {
    background-color: transparent;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#chitietdichvukhamsuckhoetongquat .x-LAW0qS {
    letter-spacing: -0.16px;
    line-height   : 19.2px;
}

.proximanovavh-regular-normal-denim-16px {
    color      : var(--primaryblue-400);
    font-family: var(--font-family-proxima_nova_vh-regular);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

#chitietdichvukhamsuckhoetongquat .khm-sc-kho-tng-qut {
    background-color: transparent;
    color           : var(--primaryblue-500);
    font-style      : normal;
}

#chitietdichvukhamsuckhoetongquat .khm-sc-kho-tng-qut-gfDxDH {
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-m);
    font-weight: 700;
    line-height: 19.2px;
    position   : relative;
    text-align : center;
    white-space: nowrap;
    width      : fit-content;
}

#chitietdichvukhamsuckhoetongquat .khm-sc-kho-tng-qut {
    background-color: transparent;
    color           : var(--primaryblue-500);
    font-style      : normal;
}

#chitietdichvukhamsuckhoetongquat .khm-sc-kho-tng-qut-uUUIHM {
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-xxxxl);
    font-weight: 700;
    height     : auto;
    line-height: 57.6px;
    text-align : justify;
    white-space: nowrap;
    width      : auto;
}

#chitietdichvukhamsuckhoetongquat .thng-qua-khm-nh-k-nh-uUUIHM {
    position        : absolute;
    bottom          : 0;
    right           : 0;
    background-color: transparent;
    color           : transparent;
    font-family     : var(--font-family-proxima_nova_vh-bold);
    font-size       : var(--font-size-xl);
    font-style      : normal;
    font-weight     : 700;
    height          : auto;
    line-height     : 36px;
    text-align      : justify;
    width           : 579px;
}

#chitietdichvukhamsuckhoetongquat .span0-zJivlU {
    color     : var(--turquoise-blue);
    font-style: normal;
}

#chitietdichvukhamsuckhoetongquat .span1-zJivlU {
    color         : var(--greyscale-text0);
    font-style    : normal;
    letter-spacing: -0.06px;
}

#chitietdichvukhamsuckhoetongquat .container_1 {
    width          : 100%;
    display        : flex;
    justify-content: center;

}

#chitietdichvukhamsuckhoetongquat .content_1 {
    margin        : 100px 0;
    max-width     : 1400px;
    width         : 100%;
    display       : flex;
    flex-direction: column;
    gap           : 50px;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007144-qKGLf1 {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    position        : relative;
    background-color: var(--zircon);
    border-radius   : 24px;
    height          : 420px;
    overflow        : hidden;
    width           : 100%;
}

#chitietdichvukhamsuckhoetongquat .rectangle-34625240 {
    background-color: transparent;
}

#chitietdichvukhamsuckhoetongquat .rectangle-34625240-vjxXIn {
    height: 420px;

    width: 627px;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007144-vjxXIn {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex-direction  : column;
    gap             : 28px;
    margin          : 50px;
}

#chitietdichvukhamsuckhoetongquat .v-sao-nn-khm-sc-kho-tng-qut-nh-k {
    background-color: transparent;
    color           : transparent;
    font-style      : normal;
    font-weight     : 700;
    position        : relative;
}

#chitietdichvukhamsuckhoetongquat .v-sao-nn-khm-sc-kho-tng-qut-nh-k-C2T8XH {
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-xxxxl);
    line-height: 57.6px;
    text-align : justify;
    width      : fit-content;
}

#chitietdichvukhamsuckhoetongquat .span0-JUrTy2 {
    color     : #1ab7da;
    font-style: normal;
}

#chitietdichvukhamsuckhoetongquat .span1-JUrTy2 {
    color     : var(--primaryblue-500);
    font-style: normal;
}

#chitietdichvukhamsuckhoetongquat .vit-nam-c-tnh-cho-th {
    background-color: transparent;
    color           : var(--primaryblue-400);
    font-family     : var(--font-family-proxima_nova-semibold);
    font-style      : normal;
    font-weight     : 400;
    position        : relative;
    text-align      : justify;
}

#chitietdichvukhamsuckhoetongquat .vit-nam-c-tnh-cho-th-C2T8XH {
    font-size     : var(--font-size-xl);
    height        : 141.845703125px;
    letter-spacing: 0.00px;
    line-height   : 36px;
    width         : 621.75px;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007148 {
    align-items     : flex-start;
    background-color: transparent;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007148-IZPBXd {
    display       : flex;
    flex-direction: column;
    gap           : 24px;
    width         : 566px;
    margin        : 50px;
}

#chitietdichvukhamsuckhoetongquat .bt-k-v-tr-no-trn-c-t {
    background-color: transparent;
    color           : var(--primaryblue-400);
    font-style      : normal;
    position        : relative;
}

#chitietdichvukhamsuckhoetongquat .bt-k-v-tr-no-trn-c-t-GnoxMm {
    font-family   : var(--font-family-proxima_nova-semibold);
    font-size     : var(--font-size-xl);
    font-weight   : 400;
    height        : 71px;
    letter-spacing: 0.00px;
    line-height   : 36px;
    text-align    : justify;
    width         : 566px;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007145-GnoxMm {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 10px;
    position        : relative;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007146 {
    background-color: transparent;
    flex            : 0 0 auto;
    position        : relative;
}

#chitietdichvukhamsuckhoetongquat .thoi-ha-khp-tin-pht {
    background-color: transparent;
    position        : relative;
    text-align      : justify;
}

#chitietdichvukhamsuckhoetongquat .thoi-ha-khp-tin-pht-ot5O2t {
    height     : 48px;
    line-height: 24px;
    width      : 542.23828125px;
}

#chitietdichvukhamsuckhoetongquat .container_2 {
    width           : 100%;
    display         : flex;
    justify-content : center;
    background-color: var(--primaryblue-500);
}

#chitietdichvukhamsuckhoetongquat .content_2 {
    margin         : 100px 0;
    max-width      : 1400px;
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    gap            : 100px;
}

#chitietdichvukhamsuckhoetongquat .khm-ni-khoa-chuyn-su-tng-qut {
    background-color: transparent;
    color           : transparent;
    font-style      : normal;
    font-weight     : 700;
}

#chitietdichvukhamsuckhoetongquat .khm-ni-khoa-chuyn-su-tng-qut-WaxNkx {
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-xxxxl);
    height     : auto;
    line-height: 57.6px;
    text-align : left;
    width      : 515px;
}

#chitietdichvukhamsuckhoetongquat .span0-MKax1J {
    color     : var(--turquoise-blue);
    font-style: normal;
}

#chitietdichvukhamsuckhoetongquat .span1-MKax1J {
    color         : var(--greyscale-text0);
    font-style    : normal;
    letter-spacing: -0.23px;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007188 {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    flex-direction  : column;
    gap             : 13px;
    position        : relative;
    border-bottom   : 2px solid white;
    width           : 100%;
    padding         : 10px 0;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007145-3uyRLS {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 10px;
    justify-content : center;
    position        : relative;
}

#chitietdichvukhamsuckhoetongquat .khm-v-t-vn {
    background-color: transparent;
    position        : relative;
    text-align      : left;
    width           : 542.23828125px;
}

.proximanovavh-normal-white-20px {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : var(--font-size-l);
    font-style : normal;
    font-weight: 400;
}

#chitietdichvukhamsuckhoetongquat .a-GMz5Qx {
    height: 539px;
    width : 659px;
}

#chitietdichvukhamsuckhoetongquat .ngi-khm-sc-khe-s-c-k {
    background-color: transparent;
    letter-spacing  : 0.00px;
    text-align      : justify;
}

#chitietdichvukhamsuckhoetongquat .ngi-khm-sc-khe-s-c-k-Y7zWSL {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova-semibold);
    font-size  : var(--font-size-l);
    font-style : normal;
    font-weight: 400;
    height     : auto;
    line-height: 30px;
    width      : 576px;
}

#chitietdichvukhamsuckhoetongquat .group-1000004204-zJyIKa {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;

}

#chitietdichvukhamsuckhoetongquat .frame-1000007190-KAS83M {
    margin-top: 100px;
}

.proximanovavh-regular-normal-midnight-blue-16px {
    color      : var(--primaryblue-700);
    font-family: var(--font-family-proxima_nova_vh-regular);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}