* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --black                               : #000000;
    --greyscale-text0                     : #ffffff;
    --primaryblue-400                     : #1e60c1;
    --primaryblue-500                     : #134a9b;
    --primaryblue-600                     : #0e3f86;
    --primaryblue-700                     : #0d356e;
    --turquoise-blue                      : #45dcff;
    --zircon                              : #f6faff;
    --font-size-l                         : 20px;
    --font-size-m                         : 16px;
    --font-size-s                         : 14px;
    --font-size-xl                        : 24px;
    --font-size-xxl                       : 30px;
    --font-size-xxxl                      : 32px;
    --font-size-xxxxl                     : 48px;
    --font-family-proxima_nova-bold       : "Proxima Nova-Bold", Helvetica;
    --font-family-proxima_nova-semibold   : "Proxima Nova-Semibold", Helvetica;
    --font-family-proxima_nova_vh-bold    : "Proxima Nova vh-Bold", Helvetica;
    --font-family-proxima_nova_vh-regular : "Proxima Nova vh-Regular", Helvetica;
    --font-family-proxima_nova_vh-semibold: "Proxima Nova vh-Semibold", Helvetica;
}

#chitietdichvukhamsuckhoetongquat .container {
    position           : relative;
    height             : 820px;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    background-image   : url("../imgs/rectangle-34625294.png");
}

#chitietdichvukhamsuckhoetongquat .x221-17-2 {
    background      : linear-gradient(180deg, rgba(19.0000007674098, 74.0000031888485, 155.00000596046448, 0) 0%, rgb(19.0000007674098, 74.0000031888485, 155.00000596046448) 100%, rgb(19.0000007674098, 74.0000031888485, 155.00000596046448) 100%);
    background-color: transparent;
    position        : absolute;


}

#chitietdichvukhamsuckhoetongquat .x221-17-2-uUUIHM {
    height: 379px;
    width : 100%;
    width : 100%;
    bottom: 0;
}

#chitietdichvukhamsuckhoetongquat .content {
    justify-content: center;
    display        : flex;
    height         : 100%;
}

#chitietdichvukhamsuckhoetongquat .group {
    position : relative;
    width    : 100%;
    display  : flex;
    max-width: 1400px;
}





#chitietdichvukhamsuckhoetongquat .frame-1000005779-uUUIHM {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    gap             : 8px;
    margin          : 50px 0;
}

#chitietdichvukhamsuckhoetongquat .trang-ch {
    background-color: transparent;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#chitietdichvukhamsuckhoetongquat .x {
    background-color: transparent;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#chitietdichvukhamsuckhoetongquat .x-gfDxDH {
    letter-spacing: -0.16px;
    line-height   : 19.2px;
}

#chitietdichvukhamsuckhoetongquat .tm-sot-sc-kho-ton-din {
    background-color: transparent;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#chitietdichvukhamsuckhoetongquat .tm-sot-sc-kho-ton-din-gfDxDH {
    line-height: 19.2px;
}

.proximanovavh-regular-normal-denim-16px {
    color      : var(--primaryblue-400);
    font-family: var(--font-family-proxima_nova_vh-regular);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

#chitietdichvukhamsuckhoetongquat .x {
    background-color: transparent;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#chitietdichvukhamsuckhoetongquat .x-LAW0qS {
    letter-spacing: -0.16px;
    line-height   : 19.2px;
}

.proximanovavh-regular-normal-denim-16px {
    color      : var(--primaryblue-400);
    font-family: var(--font-family-proxima_nova_vh-regular);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

#chitietdichvukhamsuckhoetongquat .khm-sc-kho-tng-qut {
    background-color: transparent;
    color           : var(--primaryblue-500);
    font-style      : normal;
}

#chitietdichvukhamsuckhoetongquat .khm-sc-kho-tng-qut-gfDxDH {
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-m);
    font-weight: 700;
    line-height: 19.2px;
    position   : relative;
    text-align : center;
    white-space: nowrap;
    width      : fit-content;
}

#chitietdichvukhamsuckhoetongquat .khm-sc-kho-tng-qut {
    background-color: transparent;
    color           : var(--primaryblue-500);
    font-style      : normal;
}

#chitietdichvukhamsuckhoetongquat .khm-sc-kho-tng-qut-uUUIHM {
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-xxxxl);
    font-weight: 700;
    height     : auto;
    line-height: 57.6px;
    text-align : justify;
    white-space: nowrap;
    width      : auto;
}

#chitietdichvukhamsuckhoetongquat .thng-qua-khm-nh-k-nh-uUUIHM {
    position        : absolute;
    bottom          : 0;
    right           : 0;
    background-color: transparent;
    color           : transparent;
    font-family     : var(--font-family-proxima_nova_vh-bold);
    font-size       : var(--font-size-xl);
    font-style      : normal;
    font-weight     : 700;
    height          : auto;
    line-height     : 36px;
    text-align      : justify;
    width           : 579px;
}

#chitietdichvukhamsuckhoetongquat .span0-zJivlU {
    color     : var(--turquoise-blue);
    font-style: normal;
}

#chitietdichvukhamsuckhoetongquat .span1-zJivlU {
    color         : var(--greyscale-text0);
    font-style    : normal;
    letter-spacing: -0.06px;
}

#chitietdichvukhamsuckhoetongquat .container_1 {
    width          : 100%;
    display        : flex;
    justify-content: center;

}

#chitietdichvukhamsuckhoetongquat .content_1 {
    margin        : 100px 0;
    max-width     : 1400px;
    width         : 100%;
    display       : flex;
    flex-direction: column;
    gap           : 50px;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007144-qKGLf1 {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    position        : relative;
    background-color: var(--zircon);
    border-radius   : 24px;
    overflow        : hidden;
    width           : 100%;
}

#chitietdichvukhamsuckhoetongquat .rectangle-34625240 {
    background-color: transparent;
}

#chitietdichvukhamsuckhoetongquat .rectangle-34625240-vjxXIn {

    width : 50%;
    height: 100%;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007144-vjxXIn {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex-direction  : column;
    gap             : 28px;
    margin          : 50px;
    width           : 50%;
}

#chitietdichvukhamsuckhoetongquat .v-sao-nn-khm-sc-kho-tng-qut-nh-k {
    background-color: transparent;
    color           : transparent;
    font-style      : normal;
    font-weight     : 700;
    position        : relative;
}

#chitietdichvukhamsuckhoetongquat .v-sao-nn-khm-sc-kho-tng-qut-nh-k-C2T8XH {
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-xxxxl);
    line-height: 57.6px;
    text-align : justify;
    width      : fit-content;
}

#chitietdichvukhamsuckhoetongquat .span0-JUrTy2 {
    color     : #1ab7da;
    font-style: normal;
}

#chitietdichvukhamsuckhoetongquat .span1-JUrTy2 {
    color     : var(--primaryblue-500);
    font-style: normal;
}

#chitietdichvukhamsuckhoetongquat .vit-nam-c-tnh-cho-th {
    background-color: transparent;
    color           : var(--primaryblue-400);
    font-family     : var(--font-family-proxima_nova-semibold);
    font-style      : normal;
    font-weight     : 400;
    position        : relative;
    text-align      : justify;
}

#chitietdichvukhamsuckhoetongquat .vit-nam-c-tnh-cho-th-C2T8XH {
    font-size     : var(--font-size-xl);
    letter-spacing: 0.00px;
    line-height   : 36px;
    width         : 100%;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007148 {
    align-items     : flex-start;
    background-color: transparent;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007148-IZPBXd {
    display       : flex;
    flex-direction: column;
    gap           : 24px;
    width         : 50%;
    margin        : 50px;
}

#chitietdichvukhamsuckhoetongquat .bt-k-v-tr-no-trn-c-t {
    background-color: transparent;
    color           : var(--primaryblue-400);
    font-style      : normal;
    position        : relative;
}

#chitietdichvukhamsuckhoetongquat .bt-k-v-tr-no-trn-c-t-GnoxMm {
    font-family   : var(--font-family-proxima_nova-semibold);
    font-size     : var(--font-size-xl);
    font-weight   : 400;
    height        : 71px;
    letter-spacing: 0.00px;
    line-height   : 36px;
    text-align    : justify;
    width         : 100%;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007145-GnoxMm {
    margin-top      : 10px;
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 10px;
    position        : relative;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007146 {
    background-color: transparent;
    flex            : 0 0 auto;
    position        : relative;
}

#chitietdichvukhamsuckhoetongquat .thoi-ha-khp-tin-pht {
    background-color: transparent;
    position        : relative;
    text-align      : justify;
}

#chitietdichvukhamsuckhoetongquat .thoi-ha-khp-tin-pht-ot5O2t {
    height     : 48px;
    line-height: 24px;
}

#chitietdichvukhamsuckhoetongquat .container_2 {
    width           : 100%;
    display         : flex;
    justify-content : center;
    background-color: var(--primaryblue-500);
    position        : relative;
}

#chitietdichvukhamsuckhoetongquat .content_2 {
    margin         : 100px 0;
    max-width      : 1400px;
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    gap            : 100px;
}

#chitietdichvukhamsuckhoetongquat .content_2 div {
    width: 100%;
}

#chitietdichvukhamsuckhoetongquat .khm-ni-khoa-chuyn-su-tng-qut {
    background-color: transparent;
    color           : transparent;
    font-style      : normal;
    font-weight     : 700;
}

#chitietdichvukhamsuckhoetongquat .khm-ni-khoa-chuyn-su-tng-qut-WaxNkx {
    font-family: var(--font-family-proxima_nova_vh-bold);
    font-size  : var(--font-size-xxxxl);
    height     : auto;
    line-height: 57.6px;
    text-align : left;
    width      : 515px;
}

#chitietdichvukhamsuckhoetongquat .span0-MKax1J {
    color     : var(--turquoise-blue);
    font-style: normal;
}

#chitietdichvukhamsuckhoetongquat .span1-MKax1J {
    color         : var(--greyscale-text0);
    font-style    : normal;
    letter-spacing: -0.23px;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007188 {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    flex-direction  : column;
    gap             : 13px;
    position        : relative;
    border-bottom   : 2px solid white;
    width           : 100%;
    padding         : 10px 0;
}

#chitietdichvukhamsuckhoetongquat .frame-1000007145-3uyRLS {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 10px;
    justify-content : center;
    position        : relative;
}

#chitietdichvukhamsuckhoetongquat .khm-v-t-vn {
    background-color: transparent;
    position        : relative;
    text-align      : left;
    width           : 542.23828125px;
}

.proximanovavh-normal-white-20px {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : var(--font-size-l);
    font-style : normal;
    font-weight: 400;
}

#chitietdichvukhamsuckhoetongquat .a-GMz5Qx {
    width: 100%;
}

#chitietdichvukhamsuckhoetongquat .ngi-khm-sc-khe-s-c-k {
    background-color: transparent;
    letter-spacing  : 0.00px;
    text-align      : justify;
}

#chitietdichvukhamsuckhoetongquat .ngi-khm-sc-khe-s-c-k-Y7zWSL {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova-semibold);
    font-size  : var(--font-size-l);
    font-style : normal;
    font-weight: 400;
    height     : auto;
    line-height: 30px;
    width      : 100%;
}

#chitietdichvukhamsuckhoetongquat .group-1000004204-zJyIKa {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;

}

#chitietdichvukhamsuckhoetongquat .frame-1000007190-KAS83M {
    margin-top: 100px;
}

.proximanovavh-regular-normal-midnight-blue-16px {
    color      : var(--primaryblue-700);
    font-family: var(--font-family-proxima_nova_vh-regular);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

#chitietdichvukhamsuckhoetongquat .container_3 {
    width              : 100%;
    display            : flex;
    justify-content    : center;
    position           : relative;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    background-image   : url("../imgs/freepik-27241819.png");
}

#chitietdichvukhamsuckhoetongquat .content_3 {
    margin        : 100px 0;
    max-width     : 1400px;
    width         : 100%;
    display       : flex;
    flex-direction: column;
    gap           : 100px;
}

#chitietdichvukhamsuckhoetongquat .cc-bc-thm-khm-mDZxaG {
    color         : var(--primaryblue-600);
    font-family   : var(--font-family-proxima_nova_vh-bold);
    font-size     : var(--font-size-xxxxl);
    height        : auto;
    letter-spacing: -0.48px;
    line-height   : 57.6px;
    text-align    : left;
    width         : auto;
}

#chitietdichvukhamsuckhoetongquat .cc-bc-thm-khm {
    background-color: transparent;
    font-style      : normal;
    font-weight     : 700;
    white-space     : nowrap;
}

#chitietdichvukhamsuckhoetongquat .frame-1000006957-KExA3H {
    align-items     : center;
    background-color: transparent;
    display         : inline-flex;
    flex            : 0 0 auto;
    gap             : 24px;
    position        : relative;
}

#chitietdichvukhamsuckhoetongquat .group-1000004158 {
    background-color: transparent;
    height          : 53px;
    position        : relative;
    width           : 53px;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

#chitietdichvukhamsuckhoetongquat .ellipse-2036 {
    background      : linear-gradient(180deg, rgb(69.00000348687172, 221.00000202655792, 255) 0%, rgba(70.00000342726707, 221.00000202655792, 254.00000005960464, 0) 100%);
    background-color: transparent;
    border-radius   : 26.29px;
    height          : 53px;
    width           : 53px;
}

#chitietdichvukhamsuckhoetongquat .x01 {
    background-color: transparent;
    height          : auto;
    position        : absolute;

    text-align : center;
    white-space: nowrap;
    width      : auto;
}

.proximanova-bold-tory-blue-30px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova-bold);
    font-size  : var(--font-size-xxl);
    font-style : normal;
    font-weight: 700;
}

.proximanovavh-normal-tory-blue-24px {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : var(--font-size-xl);
    font-style : normal;
    font-weight: 400;
}

#chitietdichvukhamsuckhoetongquat .frame-1000006959 {
    align-items     : flex-start;
    background-color: transparent;
    display         : inline-flex;
    flex-direction  : column;
}

#chitietdichvukhamsuckhoetongquat .frame-1000006959-mDZxaG {
    gap: 24px;
}

#chitietdichvukhamsuckhoetongquat .rectangle-34625338-gLpgjH {
    display         : none;
    background      : linear-gradient(180deg, rgba(19.0000007674098, 74.0000031888485, 155.00000596046448, 0) 0%, rgba(19.0000007674098, 74.0000031888485, 155.00000596046448, 0.8050000071525574) 57.499998807907104%, rgb(19.0000007674098, 74.0000031888485, 155.00000596046448) 100%);
    background-color: transparent;
    height          : 306px;
    position        : absolute;
    bottom          : 0;
    width           : 100%;
}

#chitietdichvukhamsuckhoetongquat .button {
    align-items  : center;
    border-radius: 24px;
    display      : inline-flex;
    bottom       : 0;
    gap          : 8px;
    padding      : 8px 8px 8px 24px;
    position     : absolute;
}

#chitietdichvukhamsuckhoetongquat .xem-thm {
    background-color: transparent;
    letter-spacing  : 0.20px;
    line-height     : 19.2px;
    position        : relative;
    text-align      : center;
    white-space     : nowrap;
    width           : fit-content;
}

#chitietdichvukhamsuckhoetongquat .xem-thm-Qf9J21 {
    color      : var(--primaryblue-500);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

#chitietdichvukhamsuckhoetongquat .frame-1000005541 {
    background-color: transparent;
    height          : 32px;
    position        : relative;
    width           : 32px;
}

#chitietdichvukhamsuckhoetongquat .button-gLpgjH {
    display         : none;
    margin          : 30px;
    background-color: var(--greyscale-text0);
}

#chitietdichvukhamsuckhoetongquat .button {
    align-items  : center;
    border-radius: 24px;
    display      : inline-flex;
    gap          : 8px;
    padding      : 8px 8px 8px 24px;
}

#chitietdichvukhamsuckhoetongquat .button-xi0Zxk {
    display         : none;
    margin          : 50px;
    background-color: var(--primaryblue-500);
}

.proximanovavh-normal-white-16px {
    color      : var(--greyscale-text0);
    font-family: var(--font-family-proxima_nova_vh-semibold);
    font-size  : var(--font-size-m);
    font-style : normal;
    font-weight: 400;
}

#chitietdichvukhamsuckhoetongquat .button {
    display: none;
}

@media (max-width: 1400px) {
    #chitietdichvukhamsuckhoetongquat .content_2 {
        flex-direction: column-reverse;
        margin        : 100px 50px;
    }

    #chitietdichvukhamsuckhoetongquat .content_3 {
        padding: 50px;
    }
}

@media (max-width: 1000px) {
    #chitietdichvukhamsuckhoetongquat .group {
        padding: 20px;
    }

    #chitietdichvukhamsuckhoetongquat .thng-qua-khm-nh-k-nh-uUUIHM {
        display: none;
    }

    #chitietdichvukhamsuckhoetongquat .frame-1000007144-qKGLf1 {
        flex-direction: column;
    }

    #chitietdichvukhamsuckhoetongquat .content_1 {
        margin: 100px;

    }

    #chitietdichvukhamsuckhoetongquat .frame-1000007144-vjxXIn {

        width  : 100%;
        padding: 50px;
    }

    #chitietdichvukhamsuckhoetongquat .rectangle-34625240-vjxXIn {
        width: 100%;
    }

    #chitietdichvukhamsuckhoetongquat .frame-1000007148-IZPBXd {

        width  : 100%;
        padding: 0 50px;
    }

    #chitietdichvukhamsuckhoetongquat .content_2 {
        flex-direction: column-reverse;
        margin        : 100px 50px;
    }

    #chitietdichvukhamsuckhoetongquat .content_3 {
        padding: 50px;
    }

    #chitietdichvukhamsuckhoetongquat .content_2 {


        position: relative;

    }

    #chitietdichvukhamsuckhoetongquat .khm-ni-khoa-chuyn-su-tng-qut-WaxNkx {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        position       : absolute;
        top            : 0;
        width          : 100%;
    }

    #chitietdichvukhamsuckhoetongquat .rectangle-34625338-gLpgjH {
        display: block;

    }

    #chitietdichvukhamsuckhoetongquat .button-gLpgjH {
        display: flex;
    }

    #chitietdichvukhamsuckhoetongquat .button-xi0Zxk {
        display: flex;
    }

    #chitietdichvukhamsuckhoetongquat .container_3 {
        width              : 100%;
        display            : flex;
        justify-content    : center;
        position           : relative;
        background-repeat  : no-repeat;
        background-size    : cover;
        background-position: center;
        background-image   : url("../imgs/rectangle-34625313.svg");
    }

    #chitietdichvukhamsuckhoetongquat .frame-1000006957-KExA3H {
        padding      : 10px 0;
        width        : 100%;
        border-bottom: 1px solid gray;
    }

}